In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [3]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Скачайте файлы ratings.csv и movies.csv из предыдущего шага. Давайте повторим основные методы получения информации о датасете, которые мы изучали в модуле 1 "Общее знакомство с библиотекой Pandas".

Сколько строк в файле рейтингов (подсказка: количество непустых значений соответствует количеству строк)?

In [5]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId       100836 non-null int64
movieId      100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

Какое количество жанров имеют фильмы в датасете movies?

In [10]:
movies.genres[0].split(sep='|')

['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']

In [26]:
genres_list = []

for movie in movies.genres:
    for genre in movie.split(sep='|'):
        if genre not in genres_list: genres_list.append(genre)           
len(genres_list)

20

Какое минимальное значение принимает выставленная оценка в датасете ratings?

In [28]:
ratings.rating.min()

0.5

Какое максимальное значение принимает выставленная оценка в датасете ratings?

In [29]:
ratings.rating.max()

5.0