In [197]:
import pandas as pd
from collections import  Counter
from itertools import product, combinations

In [3]:
data = pd.read_csv('data.csv')
data.head(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015

In [4]:
data.columns

Index(['imdb_id', 'popularity', 'budget', 'revenue', 'original_title', 'cast',
       'director', 'tagline', 'overview', 'runtime', 'genres',
       'production_companies', 'release_date', 'vote_count', 'vote_average',
       'release_year'],
      dtype='object')

### ПРЕДОБРАБОТКА

In [5]:
columns_to_split = data.columns[data.apply(lambda x: x.str.contains('|',regex = False).any())]

In [20]:
data[columns_to_split] = data[columns_to_split].applymap(lambda x: x.split('|'))

**1. У какого фильма из списка самый большой бюджет?**

In [21]:
data.original_title.loc[data.budget.idxmax()]

"The Warrior's Way"

**2. Какой из фильмов самый длительный (в минутах)**

In [22]:
data.original_title.loc[data.runtime.idxmax()]

'Gods and Generals'

**3. Какой из фильмов самый короткий (в минутах)**

In [23]:
data.original_title.loc[data.runtime.idxmin()]

'Winnie the Pooh'

**4. Средняя длительность фильма?**

In [24]:
round(data.runtime.mean())

110

**5. Средняя длительность фильма по медиане?**

In [25]:
round(data.runtime.median())

106

**6. Какой самый прибыльный фильм?**

In [26]:
data['profit'] = data.revenue - data.budget

In [27]:
data.original_title.loc[data.profit.idxmax()]

'Avatar'

**7. Какой фильм самый убыточный?**

In [28]:
data.original_title.loc[data.profit.idxmin()]

"The Warrior's Way"

**8. Сколько всего фильмов в прибыли?**

In [29]:
len(data.loc[data.profit > 0])

1478

In [30]:
(data.profit>0).sum()

1478

**9. Самый прибыльный фильм в 2008 году?**

In [31]:
#year = pd.to_datetime(data.release_date).dt.year
data2008 = data[data.release_year == 2008]
data2008.original_title.loc[data2008.profit.idxmax()]

'The Dark Knight'

**10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?**

In [32]:
data2012_2014 = data[data.release_year.isin([2012,2013,2014])]
data2012_2014.original_title.loc[data2012_2014.profit.idxmin()]

'The Lone Ranger'

**11. Какого жанра фильмов больше всего?**

In [33]:
total_genres_list = data.genres.sum()
pd.Series(total_genres_list).value_counts()[:1]

Drama    782
dtype: int64

In [34]:
Counter(total_genres_list).most_common(1)

[('Drama', 782)]

**12. Какого жанра среди прибыльных фильмов больше всего?**

In [35]:
profit_movie = data.loc[data.profit> 0]
total_genres_list = profit_movie.genres.sum()
pd.Series(total_genres_list).value_counts().index[0]

'Drama'

In [36]:
Counter(total_genres_list).most_common(1)[0][0]

'Drama'

**13. Кто из режиссеров снял больше всего фильмов?**

In [37]:
# data.director.value_counts()[:5] # поверхностное решение !!! после split не работает

In [38]:
%%time
directors_iter = Counter(data.director.sum())
dir_count = Counter()
for person, director in product(directors_iter,data.director):
    if person in director: dir_count[person] += 1
print(dir_count.most_common(1))

[('Steven Soderbergh', 13)]
Wall time: 388 ms

In [39]:
def groupby_listfeature(df, by):
    result = pd.DataFrame(columns=df.columns)
    next_index = 0
    to_replace = []
    for df_ind in df.index:
        for list_ind, value in enumerate(df[by][df_ind]):
            result.loc[next_index] = df.loc[df_ind]
            next_index = result.index.max()+1
            to_replace.append(value)
    result[by] = to_replace    
    return result.groupby(by)

In [40]:
%%time
groupby_listfeature(data[['director','imdb_id']],'director').count().idxmax()[0]
# А если после стирки не видно разницы, зачем платить больше?

Wall time: 5 s

'Steven Soderbergh'

**14. Кто из режиссеров снял больше всего Прибыльных фильмов?**

In [41]:
profit_movie =  data.loc[data.profit > 0]

In [42]:
profit_movie =  data[['director','imdb_id']].loc[data.profit > 0]
groupby_listfeature(profit_movie,'director').count().idxmax()[0]

'Ridley Scott'

**15. Кто из режиссеров принес больше всего прибыли?**

In [43]:
%%time
directors_iter = Counter(data.director.sum())
profit_count = Counter()
for person in directors_iter:
    profit_per_director = (data.profit.loc[[person in directors for directors in data.director]] / 
                           data.director.loc[[person in directors for directors in data.director]].apply(len)).sum()
    profit_count[person] = profit_per_director
    
print(profit_count.most_common(1)[0][0])          # А если после стирки не видно разницы, зачем платить больше?

Peter Jackson
Wall time: 1.84 s

In [44]:
%%time
data['profit_per_director'] = data.profit/data.director.apply(len)
print(groupby_listfeature(data[['director','profit_per_director']],'director').sum().idxmax()[0])

Peter Jackson
Wall time: 4.3 s

**16. Какой актер принес больше всего прибыли?**

In [45]:
actors = pd.Series(data.cast.sum()).unique()

In [46]:
%%time
actors_profit = pd.Series()
for actor in actors:
    actors_profit[actor] = data.profit[data.cast.str.contains(actor,regex=False)].sum()
print(actors_profit.sort_values(ascending = False).idxmax())

Emma Watson
Wall time: 8.87 s

In [47]:
%%time
actors_profit = Counter()
for actor in actors:
    actors_profit[actor] = data.profit[[actor in x for x in data.cast]].sum() #data.cast.str.contains(actor,regex=False)
print(actors_profit.most_common(1)[0][0])

Emma Watson
Wall time: 3.2 s

In [48]:
%%time
data['profit_per_actor'] = data.profit/data.cast.apply(len)
print(groupby_listfeature(data[['cast','profit_per_actor']] ,'cast' ).sum().idxmax()[0])

Emma Watson
Wall time: 22.5 s

**17. Какой актер принес меньше всего прибыли в 2012 году?**

In [49]:
%%time
data_2012 = data[data.release_year == 2012]
actors_2012 = pd.Series(data_2012.cast.sum()).unique()
actors_profit_2012 = Counter()
for actor in actors_2012:
    actors_profit_2012[actor] = data_2012.profit[[actor in x for x in data_2012.cast]].sum()
   
print(actors_profit_2012.most_common()[-1][0])

Kirsten Dunst
Wall time: 201 ms

In [50]:
%%time
groupby_listfeature(data_2012[['cast','profit_per_actor']],'cast').sum().idxmin()[0]

Wall time: 1.26 s

'Kirsten Dunst'

**18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)**

In [51]:
%%time
high_budget_data = data[data.budget > data.budget.mean()]
total_actors_list = high_budget_data.cast.sum() 
print(pd.Series(total_actors_list).value_counts().idxmax())

Matt Damon
Wall time: 13 ms

In [52]:
%%time
print(groupby_listfeature(high_budget_data[['cast','imdb_id']],'cast').count().idxmax()[0])

Matt Damon
Wall time: 7.07 s

**19. В фильмах какого жанра больше всего снимался Nicolas Cage?**

In [53]:
%%time
print(pd.Series(data[['Nicolas Cage' in x for x in data.cast]].genres.sum()).value_counts().idxmax())

Action
Wall time: 5 ms

In [54]:
%%time
data_NicCage = data[['Nicolas Cage' in x for x in data.cast]]
print(groupby_listfeature(data_NicCage[['imdb_id','genres']],'genres').count().idxmax()[0])

Action
Wall time: 259 ms

**20. Какая студия сняла больше всего фильмов?**

In [55]:
%%time
print(pd.Series(data.production_companies.sum()).value_counts().idxmax())

Universal Pictures
Wall time: 47 ms

In [56]:
%%time
print(Counter((data.production_companies.sum())).most_common(1)[0][0])

Universal Pictures
Wall time: 57 ms

**21. Какая студия сняла больше всего фильмов в 2015 году?**

In [57]:
data_2015 = data[data.release_year == 2015]
print(pd.Series(data_2015.production_companies.sum()).value_counts().idxmax())

Warner Bros.

**22. Какая студия заработала больше всего денег в жанре комедий за все время?**

In [58]:
data['profit_per_pc'] = data.profit / data.production_companies.apply(len)
comedy = data[['Comedy' in x for x in data.genres]]
production_companies_list = pd.Series(comedy.production_companies.sum()).unique()

In [59]:
prod_comp_profit = pd.Series()
for prod_comp in production_companies_list:
    prod_comp_profit[prod_comp] = comedy.profit[[prod_comp in x for x in comedy.production_companies]].sum()
prod_comp_profit.idxmax()

'Universal Pictures'

In [60]:
groupby_listfeature(comedy[['production_companies','profit']] ,'production_companies').sum().idxmax()[0]

'Universal Pictures'

In [61]:
prod_comp_profit = pd.Series()
for prod_comp in production_companies_list:
    prod_comp_profit[prod_comp] = comedy.profit_per_pc[[prod_comp in x for x in comedy.production_companies]].sum()
prod_comp_profit.idxmax()

'Walt Disney Pictures'

In [62]:
groupby_listfeature(comedy[['production_companies','profit_per_pc']] ,'production_companies').sum().idxmax()[0]

'Walt Disney Pictures'

**23. Какая студия заработала больше всего денег в 2012 году?**

In [63]:
data_2012 = data[data.release_year == 2012]
production_companies_list = pd.Series(data_2012.production_companies.sum()).unique()

In [64]:
pr_comp_profit = pd.Series()
for pr_comp in production_companies_list:
    pr_comp_profit[pr_comp] = data_2012.profit[[pr_comp in x for x in data_2012.production_companies]].sum()
pr_comp_profit.idxmax()

'Columbia Pictures'

In [65]:
groupby_listfeature(data_2012[['production_companies','profit_per_pc']], 'production_companies').sum().idxmax()[0]

'Columbia Pictures'

**24. Самый убыточный фильм от Paramount Pictures**

In [66]:
data_ParPic = data[['Paramount Pictures' in x for x in data.production_companies]]
data_ParPic.loc[data_ParPic.profit.idxmin()].original_title

'K-19: The Widowmaker'

**25. Какой Самый прибыльный год (заработали больше всего)?**

In [67]:
data.groupby('release_year').profit.sum().idxmax()

2015

**26. Какой Самый прибыльный год для студии Warner Bros?**

In [68]:
prod_comp_list = pd.Series(data.production_companies.sum()).unique()
prod_comp_list[['Warner' in x for x in prod_comp_list]]

array(['Warner Bros.', 'Warner Bros. Animation',
       'Warner Bros. Interactive Entertainment', 'Warner Bros. Pictures',
       'Warner Independent Pictures (WIP)'], dtype=object)

In [69]:
data_WarBros = data[['Warner Bros.' in x for x in data.production_companies]]

In [70]:
data_WarBros.groupby('release_year').profit.sum().idxmax()

2007

In [71]:
data_WarBros.groupby('release_year').profit_per_pc.sum().idxmax()

2010

In [72]:
data_WarBros = data[[pd.Series(['Warne' in y for y in x]).any() for x in data.production_companies]]

In [73]:
data_WarBros.groupby('release_year').profit.sum().idxmax()

2014

In [74]:
data_WarBros.groupby('release_year').profit_per_pc.sum().idxmax()

2010

**27. В каком месяце за все годы суммарно вышло больше всего фильмов?**

In [75]:
data['release_month'] = pd.to_datetime(data.release_date).dt.month

In [76]:
data.groupby('release_month').imdb_id.count().idxmax()

9

In [77]:
data.groupby(['release_month','release_year']).imdb_id.count().idxmax()

(9, 2009)

**28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)**

In [78]:
data [[x in [6,7,8] for x in data.release_month]].imdb_id.count()

450

**29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?**

In [79]:
%%time
data_winter = data.query('release_month in [1,2,12]')

Wall time: 9 ms

In [80]:
%%time
data_winter = data [[x in [1,2,12] for x in data.release_month]]

Wall time: 2 ms

In [81]:
groupby_listfeature(data_winter[['director','imdb_id']], 'director').count().idxmax()[0]

'Peter Jackson'

**30. Какой месяц чаще всего по годам самый прибыльный?**

In [82]:
pivtab_year_month = data.pivot_table('profit', index= 'release_year', columns= 'release_month', aggfunc= sum)
pivtab_year_month.idxmax(axis=1).max()

12

**31. Названия фильмов какой студии в среднем самые длинные по количеству символов?**

In [83]:
gruoppedby_pc = groupby_listfeature(data[['production_companies','original_title']],'production_companies')
gruoppedby_pc.original_title.apply(lambda x: len(x.sum())/x.count()).idxmax()

'Four By Two Productions'

**32. Названия фильмов какой студии в среднем самые длинные по количеству слов?**

In [84]:
#gruoppedby_pc.original_title.apply(lambda x: x.append(x)[1:])

In [85]:
gruoppedby_pc.original_title.apply(lambda x: 
                                   len(((x+" ").sum()).split(' '))
                                   /x.count()).idxmax()

'Four By Two Productions'

**33. Сколько разных слов используется в названиях фильмов?(без учета регистра)**

In [86]:
import re

In [87]:
total_title_list = data.original_title.apply(lambda x: x+' ').sum().lower()

In [88]:
pattern = re.compile('(?![-])\S*')

In [90]:
len(pd.Series(pattern.findall(total_title_list)).unique())

2461

**34. Какие фильмы входят в 1 процент лучших по рейтингу?**

Варианты ответа:

1. Inside Out, Gone Girl, 12 Years a Slave

In [91]:
data.original_title.loc[data.vote_average.sort_values(ascending = False)[:int(0.01*(len(data)))].index].sort_index()

9                                          Inside Out
28                                          Spotlight
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
177                            The Fault in Our Stars
283                                        Mr. Nobody
370                                         Inception
600                                   The Dark Knight
864             The Lord of the Rings: The Two Towers
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

In [92]:
import numpy as np
percent_99 = np.percentile(data.vote_average,99)
data.original_title[data.vote_average > percent_99]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
600                                   The Dark Knight
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

**35. Какие актеры чаще всего снимаются в одном фильме вместе**

In [194]:
from itertools import combinations

In [195]:
colleagues_count  = Counter()
for cast in data.cast:
    for one, another in list(combinations(cast, 2)):
        colleagues_count[sorted([one,another])[0] +' + ' + sorted([one,another])[1]] += 1

In [200]:
colleagues_count.most_common(1)

[('Daniel Radcliffe + Rupert Grint', 8)]

**36. У какого из режиссеров выше вероятность выпустить фильм в прибыли?  
У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?**

In [203]:
grouppedby_director = groupby_listfeature(data[['director','profit']],'director')

In [225]:
grouppedby_director.apply(lambda x:(x.profit > 0).sum()/x.profit.count())[
['Quentin Tarantino',
'Steven Soderbergh',
'Robert Rodriguez',
'Christopher Nolan',
'Clint Eastwood']].idxmax()

'Christopher Nolan'

In [187]:
# -------------------------------ПОДВАЛ-----------------------------------------

import itertools

lst = [[1, 2, 3], [4], [5, 6, 7]]  
list(itertools.chain.from_iterable(lst))

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
def features_list_splitting(df, feature):
    result = pd.DataFrame(columns=df.columns)
    feature_column = df.columns.tolist().index(feature)
    next_index = 0
    
    for df_ind in df.index:
        for list_ind, feature_value in enumerate(df.loc[df_ind][feature]):
            row = df.loc[df_ind].values
            row[feature_column] = row[feature_column][list_ind]
            result.loc[next_index] = row
            next_index = result.index.max()+1
    return result

In [ ]:
def groupby_listfeature: (data, by):
    result = pd.DataFrame(columns=df.columns)
    next_index = 0
    to_replace = []
    for df_ind in df.index:
        for list_ind, value in enumerate(df[by][df_ind]):
            result.loc[next_index] = df.loc[df_ind]
            next_index = result.index.max()+1
            to_replace.append(value)
    result[by] = to_replace    
    return result.groupby(by)

In [160]:
df = data.copy()
by = 'director'

result = pd.DataFrame(columns=df.columns)

next_index = 0
to_replace = []
for df_ind in df.index:
    for list_ind, value in enumerate(df[by][df_ind]):
        result.loc[next_index] = df.loc[df_ind]
        next_index = result.index.max()+1
        to_replace.append(value)
result[by] = to_replace

In [161]:
result.groupby(by)['profit_per_director'].sum().idxmax()

'Peter Jackson'

In [ ]:
result.groupby(by)

In [157]:
directors_iter = Counter(data.director.sum())

In [161]:
%%time
dir_count = Counter()
for person, director in product(directors_iter,data.director):
    if person in director: dir_count[person] += 1
print(dir_count.most_common(1))

[('Steven Soderbergh', 13)]
Wall time: 372 ms

In [160]:
%%time
directors_count = pd.Series()
for director in directors_iter:
    directors_count[director] = data.director[data.director.str.contains(director,regex = False)].count()
print(directors_count.sort_values(ascending = False)[:1]) #.idxmax()

Steven Soderbergh    13
dtype: int64
Wall time: 2.26 s

In [162]:
%%time
directors_count = pd.Series()
for person in directors_iter:
    directors_count[person] = data.director[[person in director for director in data.director]].count()
print(directors_count.sort_values(ascending = False)[:1]) #.idxmax()

Steven Soderbergh    13
dtype: int64
Wall time: 1.8 s

In [ ]:
%%time
actors_profit = pd.Series()
for actor in actors:
    actors_profit[actor] = data.profit[data.cast.str.contains(actor,regex=False)].sum()

print(actors_profit.sort_values(ascending = False)[:5]) #.idxmax()

In [72]:
%%time
directors_iter = Counter(data.director.sum())
profit_count = Counter()
for person in directors_iter:
    profit_per_director = (data.profit.loc[[person in directors for directors in data.director]] / 
                           data.director.loc[[person in directors for directors in data.director]].apply(len)).sum()
    profit_count[person] = profit_per_director
print(profit_count.most_common(1))

[('Peter Jackson', 5202593685.0)]
Wall time: 1.37 s

In [62]:
person = 'Lilly Wachowski'
(data.profit.loc[[person in directors for directors in data.director]] / 
data.director.loc[[person in directors for directors in data.director]].apply(len)).sum()

432254988.3333334

In [59]:
data.director.loc[[person in d for d in data.director]].apply(len)

11      2
669     2
994     3
1086    2
1087    2
Name: director, dtype: int64

In [47]:
data.director[:13]

0                     [Colin Trevorrow]
1                       [George Miller]
2                    [Robert Schwentke]
3                         [J.J. Abrams]
4                           [James Wan]
5      [Alejandro GonzÃ¡lez IÃ±Ã¡rritu]
6                         [Alan Taylor]
7                        [Ridley Scott]
8           [Kyle Balda, Pierre Coffin]
9                         [Pete Docter]
10                         [Sam Mendes]
11    [Lana Wachowski, Lilly Wachowski]
12                       [Alex Garland]
Name: director, dtype: object

In [139]:
lst = [[1, 2, 3], [4], [5, 6, 7]]

In [143]:
pd.Series(lst).sum()

[1, 2, 3, 4, 5, 6, 7]

In [28]:
import itertools

In [29]:
lst = [[1, 2, 3], [4], [5, 6, 7]]  
list(itertools.chain.from_iterable(lst))

[1, 2, 3, 4, 5, 6, 7]

In [53]:
data.index.max()

1889

In [57]:
#data[data.director.str.contains('|')]
# ord("c")
#
# chr(99)

In [81]:
ord(data.director[8][10])

124

In [82]:
chr(124)

'|'

In [84]:
data.director[8][10].find(chr(124))

0

In [86]:
ord(data.director[8][0])

75

In [91]:
data.director.apply(lambda x: x.split('|'))[:9]

0                   [Colin Trevorrow]
1                     [George Miller]
2                  [Robert Schwentke]
3                       [J.J. Abrams]
4                         [James Wan]
5    [Alejandro GonzÃ¡lez IÃ±Ã¡rritu]
6                       [Alan Taylor]
7                      [Ridley Scott]
8         [Kyle Balda, Pierre Coffin]
Name: director, dtype: object

In [272]:
data2 = data.copy()

In [273]:
data2.director = data2.director.apply(lambda x: x.split('|'))

In [274]:
data2.cast = data2.cast.apply(lambda x: x.split('|'))

In [275]:
ttt = pd.DataFrame(columns=data.columns)
ttt

Empty DataFrame
Columns: [imdb_id, popularity, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_count, vote_average, release_year, profit]
Index: []

In [276]:
ttt = pd.DataFrame(columns=data.columns)


director_column = ttt.columns.tolist().index('director')
cast_column = ttt.columns.tolist().index('cast')
next_index = 0

for i in data2.index: #.loc[:12]
    for j,director in enumerate(data2.loc[i].director):
        row = data2.loc[i].values
        row[director_column] = row[director_column][j]
        ttt.loc[next_index] = row
        next_index = ttt.index.max()+1

In [277]:
ttt

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,"[Shailene Woodley, Theo James, Kate Winslet, A...",Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360
5,tt1663202,9.110700,135000000,532950503,The Revenant,"[Leonardo DiCaprio, Tom Hardy, Will Poulter, D...",Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,3929,7.2,2015,397950503
6,tt1340138,8.654359,155000000,440603537,Terminator Genisys,"[Arnold Schwarzenegger, Jason Clarke, Emilia C...",Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,2598,5.8,2015,285603537
7,tt3659388,7.667400,108000000,595380321,The Martian,"[Matt Damon, Jessica Chastain, Kristen Wiig, J...",Ridley Scott,Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/2015,4572,7.6,2015,487380321
8,tt2293640,7.404165,74000000,1156730962,Minions,"[Sandra Bullock, Jon Hamm, Michael Keaton, All...",Kyle Balda,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,2893,6.5,2015,1082730962
9,tt2293640,7.404165,74000000,1156730962,Minions,"[Sandra Bullock, Jon Hamm, Michael Keaton, All...",Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,2893,6.5,2015,1082730962
10,tt2096673,6.326804,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,678708609
11,tt2379713,6.200282,245000000,880674609,Spectre,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, ...",Sam Mendes,A Plan No One Escapes,A cryptic message from Bondâ€™s past sends him...,148,Action|Adventure|Crime,Columbia Pictures|Danjaq|B24,10/26/2015,3254,6.2,2015,635674609
12,tt1617661,6.189369,176000003,183987723,Jupiter Ascending,"[Mila Kunis, Channing Tatum, Sean Bean, Eddie ...",Lana Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,1937,5.2,2015,7987720
13,tt1617661,6.189369,176000003,183987723,Jupiter Ascending,"[Mila Kunis, Channing Tatum, Sean Bean, Eddie ...",Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,1937,5.2,2015,7987720
14,tt0470752,6.118847,15000000,36869414,Ex Machina,"[Domhnall Gleeson, Alicia Vikander, Oscar Isaa...",Alex Garland,There is nothing more human than the will to s...,"Caleb, a 26 year old coder at the world's larg...",108,Drama|Science Fiction,DNA Films|Universal Pictures International (UP...,1/21/2015,2854,7.6,2015,21869414
15,tt2120120,5.984995,88000000,243637091,Pixels,"[Adam Sandler, Michelle Monaghan, Peter Dinkla...",Chris Columbus,Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,7/16/2015,1575,5.8,2015,155637091
16,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,"[Robert Downey Jr., Chris Hemsworth, Mark Ruff...",Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,4304,7.4,2015,1125035767
17,tt3460252,5.898400,44000000,155760117,The Hateful Eight,"[Samuel L. Jackson, Kurt Russell, Jennifer Jas...",Quentin Tarantino,No one comes up here without a damn good reason.,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,12/25/2015,2389,7.4,2015,111760117
18,tt2446042,5.749758,48000000,325771424,Taken 3,"[Liam Neeson, Forest Whitaker, Maggie Grace, F...",Olivier Megaton,It Ends Here,Ex-government operative Bryan Mills finds his ...,109,Crime|Action|Thriller,Twentieth Century Fox Film Corporation|M6 Film...,1/1/2015,1578,6.1,2015,277771424
19,tt0478970,5.573184,130000000,518602163,Ant-Man,"[Paul Rudd, Michael Douglas, Evangeline Lilly,...",Peyton Reed,Heroes Don't Get Any Bigger,Armed with the astonishing ability to shrink i...,115,Science Fiction|Action|Adventure,Marvel Studios,7/14/2015,3779,7.0,2015,388602163
20,tt1661199,5.556818,95000000,542351353,Cinderella,"[Lily James, Cate Blanchett, Richard Madden, H...",Kenneth Branagh,Midnight is just the beginning.,"When her father unexpectedly passes away, youn...",112,Romance|Fantasy|Family|Drama,Walt Disney Pictures|Genre Films|Beagle Pug Fi...,3/12/2015,1495,6.8,2015,447351353
21,tt1951266,5.476958,160000000,650523427,The Hunger Games: Mockingjay - Part 2,"[Jennifer Lawrence, Josh Hutcherson, Liam Hems...",Francis Lawrence,The fire will burn forever.,"With the nation of Panem in a full scale war, ...",136,War|Adventure|Science Fiction,Studio Babelsberg|StudioCanal|Lionsgate|Walt D...,11/18/2015,2380,6.5,2015,490523427
22,tt1964418,5.462138,190000000,209035668,Tomorrowland,"[Britt Robertson, George Clooney, Raffey Cassi...",Brad Bird,Imagine a world where nothing is impossible.,"Bound by a shared destiny, a bright, optimisti...",130,Action|Family|Science Fiction|Adventure|Mystery,Walt Disney Pictures|Babieka|A113,5/19/2015,1899,6.2,2015,19035668
23,tt1798684,5.337064,30000000,91709827,Southpaw,"[Jake Gyllenhaal, Rachel McAdams, Forest Whita...",Antoine Fuqua,Believe in Hope.,"Billy ""The Great"" Hope, the reigning junior mi...",123,Action|Drama,Escape Artists|Riche-Ludwig Productions,6/15/2015,1386,7.3,2015,61709827
24,tt2126355,4.907832,110000000,470490832,San Andreas,"[Dwayne Johnson, Alexandra Daddario, Carla Gug...",Brad Peyton,"A rescue pilot survived an earthquake, this is...",In the aftermath of a massive earthquake in Ca...,114,Action|Drama|Thriller,New Line Cinema|Village Roadshow Pictures|Warn...,5/27/2015,2060,6.1,2015,360490832
25,tt2322441,4.710402,40000000,569651467,Fifty Shades of Grey,"[Dakota Johnson, Jamie Dornan, Jennifer Ehle, ...",Sam Taylor-Johnson,Are you curious?,When college senior Anastasia Steele steps in ...,125,Drama|Romance,Focus Features|Trigger Street Productions|Mich...,2/11/2015,1865,5.3,2015,529651467
26,tt1596363,4.648046,28000000,133346506,The Big Short,"[Christian Bale, Steve Carell, Ryan Gosling, B...",Adam McKay,This is a true story.,The men who made millions from a global econom...,130,Comedy|Drama,Paramount Pictures|Plan B Entertainment|Regenc...,12/11/2015,1545,7.3,2015,105346506
27,tt2381249,4.566713,150000000,682330139,Mission: Impossible - Rogue Nation,"[Tom Cruise, Jeremy Renner, Simon Pegg, Rebecc...",Christopher McQuarrie,Desperate Times. Desperate Measures.,Ethan and team take on their most impossible m...,131,Action,Paramount Pictures|Skydance Productions|China ...,7/23/2015,2349,7.1,2015,532330139
28,tt2637276,4.564549,68000000,215863606,Ted 2,"[Mark Wahlberg, Seth MacFarlane, Amanda Seyfri...",Seth MacFarlane,"Ted is Coming, Again.",Newlywed couple Ted and Tami-Lynn want to have...,115,Comedy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/25/2015,1666,6.3,2015,147863606
29,tt2802144,4.503789,81000000,403802136,Kingsman: The Secret Service,"[Taron Egerton, Colin Firth, Samuel L. Jackson...",Matthew Vaughn,Manners maketh man.,The story of a super-secret spy organization t...,130,Crime|Comedy|Action|Adventure,Twentieth Century Fox Film Corporation|Marv Fi...,1/24/2015,3833,7.6,2015,322802136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024,tt0190865,0.530739,75000000,215663859,Vertical Limit,"[Chris O'Donnell, Robin Tunney, Bill Paxton, S...",Martin Campbell,The Mountain Will Decide.,"Trapped near the summit of K2, the world's sec...",124,Action|Adventure|Thriller,Columbia Pictures Corporation|Global Entertain...,12/8/2000,151,6.0,2000,140663859
2025,tt0184858,0.525341,42000000,32168970,Reindeer Games,"[Ben Affleck, Gary Sinise, Charlize Theron, De...",John Frankenheimer,The trap is set. The game is on.,After assuming his dead cellmate's identity to...,124,Thriller,Dimension Films|Marty Katz Productions,2/25/2000,86,5.2,2000,-9831030
2026,tt0195945,0.492950,11000000,59827328,Next Friday,"[Ice Cube, Mike Epps, Justin Pierce, John With...",Steve Carr,The suburbs make the hood look good.,"Ice Cube returns as Craig Jones, a streetwise ...",98,Comedy,New Line Cinema,1/12/2000,70,6.6,2000,48827328
2027,tt0219653,0.481089,28000000,33000337,Dracula 2000,"[Gerard Butler, Christopher Plummer, Jonny Lee...",Patrick Lussier,The Most Seductive Evil of All Time Has Now Be...,In the millenium version of this classic Gothi...,99,Horror|Thriller,Neo Art & Logic|Dimension Films|Wes Craven Films,12/22/2000,73,4.7,2000,5000337
2028,tt0203019,0.465293,32000000,48814909,Men of Honor,"[Robert De Niro, Cuba Gooding Jr., Charlize Th...","George Tillman, Jr.",History is made by those who break the rules.,Against formidable odds -- and an old-school d...,129,Drama,Fox 2000 Pictures,9/13/2000,341,7.0,2000,16814909
2029,tt0161081,0.464139,100000000,155464351,What Lies Beneath,"[Harrison Ford, Michelle Pfeiffer, Diana Scarw...",Robert Zemeckis,He was the perfect husband until his one mista...,When Claire Spencer starts hearing ghostly voi...,130,Drama|Horror|Mystery|Thriller,DreamWorks SKG|Twentieth Century Fox Film Corp...,7/21/2000,234,6.1,2000,55464351
2030,tt0160797,0.458778,60000000,71000000,Rules of Engagement,"[Tommy Lee Jones, Samuel L. Jackson, Guy Pearc...",William Friedkin,A hero should never have to stand alone.,"Part war movie, part courtroom thriller, this ...",128,Action|Adventure|Drama|History|War,Paramount Pictures|Seven Arts Pictures|Munich ...,4/7/2000,90,5.8,2000,11000000
2031,tt0181536,0.449041,43000000,80049764,Finding Forrester,"[Sean Connery, Rob Brown, F. Murray Abraham, A...",Gus Van Sant,"In an ordinary place, he found the one person ...",Gus van Sant tells the story of a young Africa...,136,Drama,Fountainbridge Films|Laurence Mark Productions...,12/21/2000,161,6.9,2000,37049764
2032,tt0204175,0.417675,16000000,20627372,Boys and Girls,"[Freddie Prinze Jr., Claire Forlani, Jason Big...",Robert Iscove,Warning: Sex Changes Everything,Ryan and Jennifer are opposites who definitely...,94,Comedy|Drama|Romance,Dimension Films,6/16/2000,53,5.3,2000,4627372
2033,tt0211181,0.410235,85000000,183611771,102 Dalmatians,"[Glenn Close, Ioan Gruffudd, Alice Evans, Tim ...",Kevin Lima,Meet Two Unlikely Heroes With A Bone To Pick.,Get ready for a howling good time as an all ne...,100,Comedy|Family,Walt Disney Pictures|Cruella Productions,10/7/2000,150,5.0,2000,98611771
2034,tt0144528,1.616724,84000000,123307945,Nutty Professor II: The Klumps,"[Eddie Murphy, Janet Jackson, Larry Miller, Jo...",Peter Segal,The Klumps are back!,The hilarity begins when professor Sherman Klu...,106,Fantasy|Comedy|Romance|Science Fiction,Imagine Entertainment|Universal Pictures,7/27/2000,168,4.8,2000,39307945
2035,tt0171433,0.623706,30000000,37036004,Keeping the Faith,"[Ben Stiller, Edward Norton, Jenna Elfman, Ann...",Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,79,5.7,2000,7036004
2036,tt0134983,0.385350,90000000,14828081,Supernova,"[James Spader, Angela Bassett, Robert Forster,...",Walter Hill,"In the farthest reaches of space, something ha...","Set in the 22nd century, when a battered salva...",91,Science Fiction,United Artists|Metro-Goldwyn-Mayer (MGM)|Hamme...,1/14/2000,42,4.7,2000,-75171919
2037,tt0134983,0.385350,90000000,14828081,Supernova,"[James Spader, Angela Bassett, Robert Forster,...",Jack Sholder,"In the farthest reaches of space, something ha...","Set in the 22nd century, when a battered salva...",91,Science Fiction,United Artists|Metro-Goldwyn-Mayer (MGM)|Hamme...,1/14/2000,42,4.7,2000,-75171919
2038,tt0160009,0.339608,40000000,30199105,The Art of War,"[Wesley Snipes, Donald Sutherland, Maury Chayk...",Christian Duguay,Who is your foe?,When ruthless terrorists threaten to bring dow...,117,Action|Adventure|Thriller,Amen Ra Films|Franchise Pictures|Warner Bros.|...,8/23/2000,67,5.7,2000,-9800895
2039,tt0202402,0.350814,15000000,9902115,Whatever It Takes,"[Jodi Lyn O'Keefe, Shane West, Marla Sokoloff,...",David Raynr,How low will they go to get the girls of their...,"A nerdy teen, Ryan Woodman is smitten with the...",94,Drama|Comedy|Romance,Columbia Pictures Corporation,3/31/2000,22,5.0,2000,-5097885
2040,tt0219854,0.349034,65000000,69700000,The Kid,"[Bruce Willis, Spencer Breslin, Emily Mortimer...",Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,141,5.9,2000,4700000
2041,tt0144964,0.332267,25000000,15843608,Highlander: Endgame,"[Christopher Lambert, Bruce Payne, Adrian Paul...",Douglas Aarniokoski,It will take two immortals to defeat the ultim...,Immortals Connor and Duncan Macleod join force...,87,Action|Fantasy|Science Fiction,Davis-Panzer Productions|Dimension Films,9/1/2000,49,4.3,2000,-9156392
2042,tt0199725,0.324003,20000000,27728118,Love & Basketball,"[Chris Warren, Jr., Kyla Pratt, Sanaa Lathan, ...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,54,7.3,2000,7728118
2043,tt0176783,0.310295,14000000,5108820,Gossip,"[Joshua Jackson, James Marsden, Kate Hudson, L...",Davis Guggenheim,"It can turn you on, or turn on you.","On a beautiful college campus, something ugly ...",90,Drama|Mystery|Thriller,Warner Bros. Pictures,4/21/2000,34,5.3,2000,-8891180
2044,tt0180073,0.309754,13500000,7060876,Quills,"[Geoffrey Rush, Kate Winslet, Joaquin Phoenix,...",Philip Kaufman,There are no bad words... only bad deeds.,"A nobleman with a literary flair, the Marquis ...",124,Drama,Fox Searchlight Pictures|Industry Entertainmen...,11/22/2000,52,6.4,2000,-6439124
2045,tt0190374,0.284476,35000000,15185241,Dungeons & Dragons,"[Justin Whalin, Jeremy Irons, Thora Birch, Bru...",Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,86,3.9,2000,-19814759
2046,tt0213790,0.279624,24000000,13700000,The Ladies Man,"[Tim Meadows, Karyn Parsons, Billy Dee William...",Reginald Hudlin,He's cool. He's clean. He's a love machine.,"Because of his salacious language, late-night ...",84,Comedy,SNL Studios,10/13/2000,14,5.4,2000,-10300000
2047,tt0217756,0.196668,24000000,12372410,Ready to Rumble,"[David Arquette, Scott Caan, Oliver Platt, Ros...",Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,4/7/2000,16,4.4,2000,-11627590
2048,tt0122459,0.249219,24000000,36609995,Return to Me,"[David Duchovny, Minnie Driver, Carroll O'Conn...",Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,32,5.5,2000,12609995
2049,tt0120903,0.182246,75000000,157299717,X-Men,"[Patrick Stewart, Hugh Jackman, Ian McKellen, ...",Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000,82299717
2050,tt0192255,0.123920,22000000,13555988,The Little Vampire,"[Richard E. Grant, Jonathan Lipnicki, Jim Cart...",Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,42,6.4,2000,-8444012
2051,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,"[Rene Russo, Jason Alexander, Piper Perabo, Ra...",Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,35,4.0,2000,-40865180
2052,tt0162983,0.031018,40000000,36037909,Hanging Up,"[Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...",Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,21,5.2,2000,-3962091
2053,tt0163676,0.015997,15000000,5217498,The In Crowd,"[Susan Ward, Lori Heuring, Matthew Settle, Nat...",Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502

In [270]:
# ttt.groupby('director')['profit'].sum().sort_values(ascending = False)

In [253]:
def features_list_splitting(df, feature):
    """
    Принимает df в котором колонка feature содержит list значений . 
    Для каждой строки в df количество элементов в list различно.
    
    Возвращает pd.DataFrame в котором каждой i-ой строке из df соответсвует 
    n строк, где n - количество элементов в list у i-ой строки.
    При этом колонка feature принимает последовательно значения из list, остальные колонки 
    совпадают с колонками из i-ой строки df.
    """
    result = pd.DataFrame(columns=df.columns)
    feature_column = df.columns.tolist().index(feature)
    next_index = 0
    
    for df_ind in df.index:
        for list_ind, feature_value in enumerate(df.loc[df_ind][feature]):
            row = df.loc[df_ind].values
            row[feature_column] = row[feature_column][list_ind]
            result.loc[next_index] = row
            next_index = result.index.max()+1
    return result

In [282]:
%%time
data_tr_spl = features_list_splitting(data2, 'director')

Wall time: 17.4 s

In [284]:
%%time
data_tr_spl = features_list_splitting(data_tr_spl, 'cast')

Wall time: 2min 34s

In [2]:
vehicles = [('Ford', 'Taurus'), ('Dodge', 'Durango'),
            ('Chevrolet', 'Cobalt'), ('Ford', 'F150'),
            ('Dodge', 'Charger'), ('Ford', 'GT')]
 
sorted_vehicles = sorted(vehicles)
sorted_vehicles

[('Chevrolet', 'Cobalt'),
 ('Dodge', 'Charger'),
 ('Dodge', 'Durango'),
 ('Ford', 'F150'),
 ('Ford', 'GT'),
 ('Ford', 'Taurus')]