In [1]:
import pandas as pd

In [2]:
pd.__name__

'pandas'

In [3]:
 pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
},index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'])

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [4]:
def create_companyDF(income, expenses, years):
    df = pd.DataFrame({'Income': income,'Expenses': expenses},index = years)
    return df

def get_profit(df, year):
    if year in df.index:
        profit = df.Income[year] - df.Expenses[year]
    else:
        profit=None
    return profit

In [18]:
melb_data = pd.read_csv('data/melb_data.csv',index_col='index')
melb_data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
index,,,,,,,,,,,,,,,,,,,,,
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

Данные представляют собой таблицу, в которой содержится 23 столбца:

- index — номер строки
- Suburb — наименование пригорода
- Address — адрес
- Rooms — количество комнат в помещении
- Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)
- Price — цена помещения
- Method — метод продажи 
- SellerG — риэлторская компания
- Date — дата продажи (в формате день/месяц/год)
- Distance — расстояния до объекта от центра Мельбурна 
- Postcode — почтовый индекс
- Bedroom — количество спален
- Bathroom — количество ванных комнат
- Car — количество парковочных мест
- Landsize — площадь прилегающей территории
- BuildingArea — площадь здания
- YearBuilt — год постройки
- CouncilArea — региональное управление
- Lattitude — географическая широта
- Longitude — географическая долгота
- Regionname — наименование района Мельбурна
- Propertycount — количество объектов недвижимости в районе
- Coordinates — широта и долгота, объединённые в кортеж

### Задание 5.1
Какова цена объекта недвижимости под индексом 15?

In [21]:
melb_data.Price[15]

1310000.0

### Задание 5.2
Когда был продан объект под индексом 90?

In [22]:
melb_data.Date[90]

'10/09/2016'

### Задание 5.3
Во сколько раз площадь прилегающей территории, на которой находится здание с индексом `3521`, больше площади участка, на котором находится здание с индексом `1690`? Ответ округлите до целого числа.

In [23]:
round(melb_data.Landsize[3521]/melb_data.Landsize[1690])

3.0

Если присмотреться внимательнее к выводу метода info(), а конкретнее — к типам данных столбцов, становится понятно, что некоторые признаки кодируются не совсем корректными типами данных. 

Например, данные в столбцах, которые отражают количество, должны, по идее, выражаться целым числом (Car, Bedroom, Bathroom и Propertyсount), однако кодируются float64 — числом с плавающей запятой размером 64 бита.

Наконец, данные в столбце с годом постройки (YearBuilt) также представлены в формате чисел с плавающей точкой.

Чтобы исправить это, можно воспользоваться методом astype(), который позволяет преобразовать тип данных столбца:

In [24]:
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13580 entries, 0 to 13579
Data columns (total 22 columns):
Suburb           13580 non-null object
Address          13580 non-null object
Rooms            13580 non-null int64
Type             13580 non-null object
Price            13580 non-null float64
Method           13580 non-null object
SellerG          13580 non-null object
Date             13580 non-null object
Distance         13580 non-null float64
Postcode         13580 non-null int64
Bedroom          13580 non-null int64
Bathroom         13580 non-null int64
Car              13580 non-null int64
Landsize         13580 non-null float64
BuildingArea     13580 non-null float64
YearBuilt        13580 non-null int64
CouncilArea      12211 non-null object
Lattitude        13580 non-null float64
Longtitude       13580 non-null float64
Regionname       13580 non-null object
Propertycount    13580 non-null int64
Coordinates      13580 non-null object
dtypes: float64(6), int64(7), object(9)
memory usage: 3.0+ MB

In [25]:
melb_data.CouncilArea.isna().sum()

1369

In [34]:
melb_data[['Price','Distance','BuildingArea','Regionname','Coordinates','Suburb']].describe(include='all')

,Price,Distance,BuildingArea,Regionname,Coordinates,Suburb
count,1.358000e+04,13580.000000,13580.000000,13580,13580,13580
unique,NaN,NaN,NaN,8,13097,314
top,NaN,NaN,NaN,Southern Metropolitan,"-37.8361, 144.9966",Reservoir
freq,NaN,NaN,NaN,4695,12,359
mean,1.075684e+06,10.137776,139.633972,NaN,NaN,NaN
std,6.393107e+05,5.868725,392.217403,NaN,NaN,NaN
min,8.500000e+04,0.000000,0.000000,NaN,NaN,NaN
25%,6.500000e+05,6.100000,122.000000,NaN,NaN,NaN
50%,9.030000e+05,9.200000,126.000000,NaN,NaN,NaN
75%,1.330000e+06,13.000000,129.940000,NaN,NaN,NaN
max,9.000000e+06,48.100000,44515.000000,NaN,NaN,NaN

In [37]:
melb_data.Type.value_counts(normalize=True)*100

h    69.580265
u    22.216495
t     8.203240
Name: Type, dtype: float64

In [42]:
melb_data.Landsize.std()
melb_data.Price.std()
# melb_data.Date.std()
# melb_data.Type.std()

639310.7242960194

In [43]:
melb_data.Propertycount.max()

21650

In [44]:
melb_data.Distance.std()

5.868724943071692

In [45]:
(melb_data.BuildingArea.median() - melb_data.BuildingArea.mean())/melb_data.BuildingArea.mean()

-0.09764079662364533

In [47]:
melb_data.Bedroom.value_counts()

3     5896
2     3737
4     2601
1      691
5      556
6       63
0       16
7       10
8        5
9        3
20       1
10       1
Name: Bedroom, dtype: int64

In [48]:
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [49]:
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3e6)].shape[0]

5

In [50]:
melb_data[(melb_data['BuildingArea'] == 0)]['Price'].min()

412500.0

In [51]:
round(melb_data[(melb_data['Price']<1e6) & ((melb_data['Rooms']>5) | (melb_data['YearBuilt'] > 2015))]['Price'].mean())

769239

In [53]:
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
dtype: object

In [55]:
data = pd.read_csv('./data/students_performance.csv')

Информация о столбцах таблицы:

- gender — пол;
- race/ethnicity — раса/этническая принадлежность;
- parental level of education — уровень образования родителей;
- lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
- test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
- math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [56]:
data.shape

(1000, 8)

In [58]:
data.loc[155, 'writing score']

88

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
gender                         1000 non-null object
race/ethnicity                 1000 non-null object
parental level of education    1000 non-null object
lunch                          1000 non-null object
test preparation course        1000 non-null object
math score                     1000 non-null int64
reading score                  1000 non-null int64
writing score                  1000 non-null int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [61]:
int(data['math score'].mean())

66

In [62]:
data['race/ethnicity'].mode()

0    group C
dtype: object

In [64]:
round(data[data['test preparation course'] == 'completed']['reading score'].mean())

74

In [66]:
data[data['math score'] == 0].shape[0]

1

In [68]:
data[data['lunch'] == 'standard']['math score'].mean(),data[data['lunch'] == 'free/reduced']['math score'].mean()

(70.03410852713178, 58.92112676056338)

In [70]:
data["parental level of education"].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [71]:
a = data[data['race/ethnicity'] == 'group A']['writing score'].median()
b = data[data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(a - b)))

6