### Задание 1
```python
Напишие текст, который выведется на последней строке при исполнении программы:

def preprocess_data(data, mode):
    if mode == "to_number":
        return [float(value) for value in data]
    elif mode == "to_str":
        return [str(value) for value in data]
    else:
        raise ValueError("Incorrect mode")
        
preprocess_data({"price": 100}, "to_array")
```

In [1]:
def preprocess_data(data, mode):
    if mode == "to_number":
        return [float(value) for value in data]
    elif mode == "to_str":
        return [str(value) for value in data]
    else:
        raise ValueError("Incorrect mode")
        
preprocess_data({"price": 100}, "to_array")

ValueError: Incorrect mode

### Задание 2
Определите функцию `check_server`, которая принимает на вход переменную `mode`.

- Если mode имеет значение "memory", программа должна вернуть строку "Memory is ok".
- Если mode имеет значение "connection", программа должна вернуть строку "Connection is ok".
- Для остальных случае программа должна выбросить исключение ValueError.

In [2]:
def check_server(mode):
    if mode == 'memory':
        return "Memory is ok"
    elif mode == 'connection':
        return "Connection is ok"
    else:
        raise ValueError()

In [3]:
check_server('mem')

ValueError:

### 2.6 Обработка исключений

In [4]:
dictionary = {}  
try:  
    dictionary["no_key"]  
except:  
    print("Oops, key not found")  
  
print("End of program")  
# => Oops, key not found  
# => End of program

Oops, key not found
End of program

In [5]:
# Напишем функцию, которая может обращаться и к спискам, и к словарям  
# при этом не выбрасывая исключение для несуществующих индексов/ключей   
def safe_element(collection, place):  
    try:  
        return(collection[place])  
    except LookupError:  
        print("Key or index not found")  
  
users = ["Pavel", "Elena", "Sergey"]  
safe_element(users, 1)  
# => 'Elena'  
safe_element(users, 3)  
# => 'Key or index not found'   
  
prices = {"apple": 10, "orange": 20}  
safe_element(prices, "apple")  
# => 10  
safe_element(prices, "carrot")  
# => 'Key or index not found'

Key or index not found
Key or index not found

### Задание 2
Напишите программу, которая реализует безопасное сложение двух объектов x и y.

Если объекты не могут быть сложены, функция должна:

- Отловить TypeError
- Вывести на экран "Can't sum x and y", где x и y - переданные числа
- Вернуть 0

```
safe_sum(1, 2)
#=> 3

safe_sum(5, 'a')
# => Can't sum 5 and a
# 0 
```

In [6]:
def safe_sum(x,y):
    try:
        return x + y
    except TypeError:
        print(f"Can't sum {x} and {y}")
        return 0

In [7]:
safe_sum(5,'!')

Can't sum 5 and !

0

## 2.10 Отладка: введение
В этом разделе мы обсудим подходы, которые помогают быстрее найти и исправить ошибки. Приведённые методы хорошо зарекомендовали себя на практике. Тем не менее единого метода, который бы работал всегда, нет, и разнообразие видов ошибок превращает отладку в настоящее искусство. Научиться определять необходимый метод вы сможете со временем.

Ошибки можно условно поделить на два класса:

явные, которые выбрасывают исключение;
неявные (баги): программа формально работает, но есть какой-то изъян в логике, так что вы получаете не то, что хотели.
Для примеров в этом разделе мы будем использовать датасет о фильмах с imdb. В датасете указана основная информация: сборы, год выпуска и т.д.

In [8]:
import pandas as pd

In [9]:
data = pd.read_csv('./Unit_6_data/imdb.csv')

In [11]:
data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

### Задание
В каком году вышел фильм *Suicide Squad*, информация о котором есть в датасете imdb?

In [18]:
data.Year[data.Title=='Suicide Squad']

4    2016
Name: Year, dtype: int64

### Отладка исключений
Разберёмся с явными ошибками, они гораздо проще в исправлении. Для начала нужно прочитать сообщение об ошибке: смотрим на тип исключения и поясняющее сообщение, чтобы понять природу ошибки, затем на стэк вызова, чтобы определить место, где она возникла, и само содержание строки.

In [20]:
# для примера попробуем написать функцию, которая печатает первые 5 строчек csv файла с нашими данными  
import csv  
  
# открываем файл  
with open("./Unit_6_data/imdb.csv", newline="") as csvfile:  
    # делаем reader, который построчно берёт данные из файла  
    reader = csv.reader(csvfile)  
    for i in xrange(5):  
        print(next(reader))  
          
# ---------------------------------------------------------------------------  
# NameError                                 Traceback (most recent call last)  
# <ipython-input-201-6e6f17831e06> in <module>  
#       6     # делаем reader, который построчно берёт данные из файла  
#       7     reader = csv.reader(csvfile)  
# ----> 8     for i in xrange(5):  
#       9         print(next(reader))  
#      10   
  
# NameError: name 'xrange' is not defined

NameError: name 'xrange' is not defined

Дальше мы смотрим на исключение и поясняющее сообщение NameError: name 'xrange' is not defined. В стэке вызова мы видим, что это имя использовалось в 8-ой строчке. Хrange было функцией в Python2, но в Python3 её переименовали в range. Исправим это:

In [22]:
import csv  
  
with open("./Unit_6_data/imdb.csv", newline="") as csvfile:  
    reader = csv.reader(csvfile)  
    for i in range(5):  
        print(next(reader))  
  
# => ['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore']  
# ['1', 'Guardians of the Galaxy', 'Action,Adventure,Sci-Fi', 'A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.', 'James Gunn', 'Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana', '2014', '121', '8.1', '757074', '333.13', '76']
# ...

['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore']
['1', 'Guardians of the Galaxy', 'Action,Adventure,Sci-Fi', 'A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.', 'James Gunn', 'Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana', '2014', '121', '8.1', '757074', '333.13', '76']
['2', 'Prometheus', 'Adventure,Mystery,Sci-Fi', 'Following clues to the origin of mankind, a team finds a structure on a distant moon, but they soon realize they are not alone.', 'Ridley Scott', 'Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron', '2012', '124', '7', '485820', '126.46', '65']
['3', 'Split', 'Horror,Thriller', 'Three girls are kidnapped by a man with a diagnosed 23 distinct personalities. They must try to escape before the apparent emergence of a frightful new 24th.', 'M. Night Shyamalan', 'James McAvoy, Anya Taylor-Joy, Haley Lu Richardson, Jessica Sula', '2016', '117', '7.3', '157606', '138.12', '62']
['4', 'Sing', 'Animation,Comedy,Family', "In a city of humanoid animals, a hustling theater impresario's attempt to save his theater with a singing competition becomes grander than he anticipates even as its finalists' find that their lives will never be the same.", 'Christophe Lourdelet', 'Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson', '2016', '108', '7.2', '60545', '270.32', '59']