In [4]:
import pandas as pd
import numpy as np
import json  
from pprint import pprint

In [5]:
with open('./Unit3_data/recipes.json') as f:
   recipes = json.load(f)

In [4]:
pprint(recipes[:2])

[{'cuisine': 'greek',
  'id': 10259,
  'ingredients': ['romaine lettuce',
                  'black olives',
                  'grape tomatoes',
                  'garlic',
                  'pepper',
                  'purple onion',
                  'seasoning',
                  'garbanzo beans',
                  'feta cheese crumbles']},
 {'cuisine': 'southern_us',
  'id': 25693,
  'ingredients': ['plain flour',
                  'ground pepper',
                  'salt',
                  'tomatoes',
                  'ground black pepper',
                  'thyme',
                  'eggs',
                  'green tomatoes',
                  'yellow corn meal',
                  'milk',
                  'vegetable oil']}]

In [5]:
#*************************************************************************************

## 13.1 Формат JSON
### Задание 2
Рецепты скольких блюд содержатся в recipes?

In [6]:
len(recipes)

500

## 13.2 Извлекаем данные из JSON
### Задание 1
Какую кухню (ключ 'cuisine') представляет последнее блюдо в списке recipes?

In [8]:
recipes[-1]['cuisine']

'british'

### Задание 2
Сколько ингредиентов входит в состав этого блюда?

In [12]:
len(recipes[-1]['ingredients'])

17

### Задание 3
Какие из перечисленных ингредиентов присутствуют в блюде с id = 17636?

In [29]:
ident = 17636

for recp in recipes:
    if recp['id'] == ident: 
        pprint(sorted(recp['ingredients']))
        break

['chopped green bell pepper',
 'chopped onion',
 'english muffins, split and toasted',
 'italian seasoning',
 'part-skim mozzarella cheese',
 'shredded carrots',
 'spinach',
 'tomato sauce',
 'vegetable oil cooking spray']

### Задание 4
Сколько ингредиентов входит в состав рецепта для приготовления блюда с id = 42013?

In [19]:
ident = 42013

for recp in recipes:
    if recp['id'] == ident:
        print(len(recp['ingredients']))
        break

14

### Задание 5
Какие ингредиенты отсутствуют в блюде с id = 23629?

eggs  
black beans  
black olives  
dry vermouth  
chicken livers  
olive oil

In [27]:
ident = 23629
ingr_for_check = ['eggs',
                  'black beans',
                  'black olives',
                  'dry vermouth',
                  'chicken livers',
                  'olive oil']

for recp in recipes:
    if recp['id'] == ident: 
        for ingr in ingr_for_check:
            if ingr not in recp['ingredients']:
                print(ingr)
        break

dry vermouth
chicken livers
olive oil

## 13.3 Группировка данных
### Задание 1
Сколько ингредиентов включено в состав всех блюд, описанных в наборе данных?
Подсказка: Обратите внимание, что для добавления в список или множество нового ингредиента вам нужно будет организовать перебор ингредиентов каждого блюда в отдельном вложенном цикле.

In [96]:
ingredients = set()

for recp in recipes:
    ingredients.update(recp['ingredients'])
len(ingredients)

1318

### Задание 2
Сколько ингредиентов встречается в рецептах блюд итальянской кухни ('cuisine' = italian)?

In [45]:
ingredients_total = set()

for recp in recipes:
    if recp['cuisine'] == 'italian': ingredients_total.update(recp['ingredients'])
len(ingredients_total)

406

### Задание 3
Какие ингредиенты не встречаются в рецептах блюд русской кухни ('cuisine' = 'russian')?  
bacon  
bread slices  
buttermilk  
red beets  
mozzarella cheese  
carrots

In [57]:
ingr_for_check = set(['bacon',
                      'bread slices',
                      'buttermilk',
                      'red beets',
                      'mozzarella cheese',
                      'carrots'])

russian_ingr = set()
for recp in recipes:
    if recp['cuisine'] == 'russian': russian_ingr.update(recp['ingredients'])

ingr_for_check - russian_ingr

{'bacon', 'carrots', 'bread slices'}

### Задание 4
Какие ингредиенты входят в состав более чем 20% блюд, представленных в наборе данных?

Подсказка: Напоминаем, что весь набор данных содержит сведения о 500 блюдах.

In [74]:
from collections import Counter

treshold = 500 * 0.2
ingr_counts = Counter()

for recp in recipes:
    ingr_counts += Counter(recp['ingredients'])
    
for ingr in ingr_counts: 
    if ingr_counts[ingr] > treshold:
        print(ingr)

garlic
salt

### Задание 5
Какой ингредиент входит в состав самого большого количества блюд?

In [79]:
ingr_counts.most_common(1)

[('salt', 217)]

### Задание 6
Сколько ингредиентов входит в состав только одного блюда?

In [87]:
only_one = 0

for _, count in ingr_counts.most_common(): only_one += count == 1
    
only_one

684

### 13.4 Создание датафрейма на основе JSON-файла

In [101]:
df = pd.DataFrame(recipes)

In [102]:
df.head()

       cuisine     id                                        ingredients
0        greek  10259  [romaine lettuce, black olives, grape tomatoes...
1  southern_us  25693  [plain flour, ground pepper, salt, tomatoes, g...
2     filipino  20130  [eggs, pepper, salt, mayonaise, cooking oil, g...
3       indian  22213                [water, vegetable oil, wheat, salt]
4       indian  13162  [black pepper, shallots, cornflour, cayenne pe...

### skillfactory вариант

In [103]:
def find_item(cell):
    if item in cell:
        return 1
    return 0

In [104]:
%%time

for item in ingredients:
    df[item] = df['ingredients'].apply(find_item)
    
df['ingredients'] = df['ingredients'].apply(lambda x: len(x))

Wall time: 1.5 s

In [105]:
df.head()

,cuisine,id,ingredients,pitted kalamata olives,miso paste,kefalotyri,scallions,hazelnuts,wide rice noodles,chorizo sausage,...,bread slices,goji berries,ground pepper,bertolli vineyard premium collect marinara with burgundi wine sauc,minced ginger,cornflour,crushed garlic,blueberri preserv,yellow peppers,pork ribs
0,greek,10259,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,southern_us,25693,11,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,filipino,20130,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,indian,22213,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,indian,13162,20,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

### Задание 6
Объедините все действия, начиная с чтения файла в JSON-формате (recipes.json) и заканчивая созданием итогового датафрейма, в единый код. Загрузите весь код в поле для ответа. Импорт библиотек в поле для ответа загружать не нужно.

Используйте множество (set) для хранения названий ингредиентов блюд.

Полученный в результате работы кода датафрейм должен иметь имя df.

In [118]:
%%timeit

def find_item(cell):
    if item in cell:
        return 1
    return 0

with open('./Unit3_data/recipes.json') as f:
   recipes = json.load(f)

ingredients = set()

for recipe in recipes: ingredients.update(recipe['ingredients'])

df = pd.DataFrame(recipes)

for item in ingredients:
    df[item] = df['ingredients'].apply(find_item)
    
df['ingredients'] = df['ingredients'].apply(lambda x: len(x))

1.56 s ± 74.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [3]:
with open('./Unit3_data/recipes.json') as f:
    recipes = json.load(f)
ingredients = set()
for recipe in recipes: ingredients.update(recipe['ingredients'])
df = pd.DataFrame(recipes)
for item in ingredients:
    df[item] = df['ingredients'].apply(lambda x: int(item in x))  
df['ingredients'] = df['ingredients'].apply(lambda x: len(x))

In [4]:
df.head()

,cuisine,id,ingredients,monterey jack,orange,basil,blackberries,large egg yolks,beans,beef steak,...,liquorice,tequila,white cornmeal,jeera,chile pepper,extra-lean ground beef,mayonaise,garlic chili sauce,black bean sauce,unsalted dry roast peanuts
0,greek,10259,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,southern_us,25693,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,filipino,20130,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,indian,22213,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,indian,13162,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.to_csv('recipes.csv', index = False)

## 13.5 Создание JSON-файла

В завершающей части этого блока мы решим обратную задачу и создадим JSON-файл из CSV-файла, который получили в конце предыдущего этапа. Итак, давайте начнём с чтения файла и создания датафрейма на его основе:

In [6]:
df = pd.read_csv('recipes.csv')

Теперь, используя только данные из этого файла, нам нужно в точности воссоздать структуру исходного JSON-файла. Как вы помните,  после десериализации данные представляли собой список, состоящий из словарей. В каждом словаре хранилась информация о рецепте одного блюда. Каждый словарь состоял из трёх пар "ключ-значение". Первая пара содержала название кухни, к которой относилось блюдо, вторая — id блюда, и третья — список ингредиентов.

Поскольку по условию мы не можем пользоваться предыдущими наработками, давайте начнём с создания списка, содержащего перечень ингредиентов, встречающихся в рецептах, а также списка, содержащего перечень id всех блюд. Эти списки в дальнейшем мы будем использовать для заполнения JSON-структуры.

### Задание 1
Напишите код для создания списка id всех блюд, представленных в датафрейме.

Обратите внимание на следующие моменты:

1. Тип структуры, в которой должны храниться id блюд - список (list).
2. Имя переменной, в которой будет храниьтся список - ids.
3. Порядок id в списке не имеет значения.
4. Код должен начинаться с чтения файла recipes.csv

In [14]:
df = pd.read_csv('recipes.csv')
ids = df.id.tolist()

### Задание 2
Напишите код для создания списка ингредиентов всех блюд, представленных в датафрейме.

Обратите внимание на следующие моменты:

1. Тип структуры, в которой должны храниться названия ингредиентов блюд, — список (list).
2. Имя переменной, в которой будет храниться список, — ingredients.
3. Порядок ингредиентов в списке не имеет значения.
4. Код должен начинаться с чтения файла recipes.csv

Подсказка: поскольку названия ингредиентов используются как названия столбцов датафрейма, вы можете воспользоваться командой df.columns для получения перечня всех названий столбцов, после чего превратить перечень в список и извлечь из него нужные данные.

In [15]:
df = pd.read_csv('recipes.csv')
ingredients = df.columns[3:].tolist()

### Сохранение итоговой структуры
Разберём основную часть кода (пока без дополнительной функции). Как вы помните, после десериализации JSON-файла мы получили структуру, представляющую собой список, состоящий из словарей. Каждый словарь состоял из трёх пар "ключ-значение", при этом в качестве значений выступали целое число (id), строковая величина (тип кухни) и список строковых величин (перечень ингредиентов). Сейчас нам предстоит воссоздать эту структуру, извлекая данные из датафрейма.

Для хранения итоговой структуры создадим пустой список new_recipes. Также создадим списки для хранения id всех блюд и названий всех ингредиентов с помощью кода из предыдущих упражнений:

In [21]:
new_recipes = []
ids = df.id.tolist()
ingredients = df.columns[3:].tolist()

Стратегия действий:

 - Организуем цикл с параметром, в котором будем перебирать элементы списка ids. В результате в процессе прохождения цикла параметр постепенно примет значение id каждого блюда.  
 - На каждом шаге цикла создадим словарь, содержащий три пары "ключ-значение". Ключу "id" мы присвоим значение параметра цикла, ключу "cuisine" — значение соответствующей кухни, которое мы получим, применив фильтр по id к датафрейму df.  
 - Для заполнения значения (списка) по ключу "ingredients" воспользуемся функцией, код которой обсудим чуть позже. Каждый созданный словарь мы будем добавлять к списку new_recipes:  
```python
for current_id in ids:
    cuisine = df[df['id'] == current_id]['cuisine'].iloc[0]
    current_ingredients = make_list(df[df['id'] == current_id])
    current_recipe = {'cuisine': cuisine, 'id': int(current_id), 'ingredients': current_ingredients}
    new_recipes.append(current_recipe)
    ```  
Итак, всё почти готово. Осталось создать код функции make_list, выполнить сериализацию и записать результат в файл.

### Задание 3
Напишите код функции make_list, которая принимает строку датафрейма df, содержащую данные об одном рецепте, и возвращает перечень ингредиентов этого блюда в виде списка.

Обратите внимание на следующие моменты:

1. Тип структуры, которую должна вернуть функция в результате работы, — список (list).
2. В процессе работы функция должна обращаться к списку, в котором хранятся названия всех ингредиентов. Используйте имя переменной ingredients для списка.
3. Добавьте код для чтения файла recipes.csv и создания списка ingredients перед кодом функции.
4. Порядок ингредиентов в возвращаемом списке не имеет значения.

In [3]:
df = pd.read_csv('recipes.csv')
ingredients = df.columns[3:].tolist()

def make_list (row):
    ingredients_dummies = row.loc[0][3:]
    return (ingredients_dummies[ingredients_dummies>0]).index.tolist()

In [81]:
def make_list (row):
    ing_list = []
    for ingr in ingredients:
        if row[ingr].iloc[0]>0:
            ing_list.append(ingr)
    return ing_list

In [ ]:
ва

In [ ]:
new_recipes = json.dumps(new_recipes)
with open("new_recipes.json", "w") as write_file:
    write_file.write(new_recipes)

В завершающей части данного блока мы выполним сериализацию списка new_recipes и запишем полученные данные в файл. Для сериализации мы будем использовать функцию dumps(), которой в качестве параметра передадим список new_recipes. Запись в файл осуществляется с помощью метода write(). Предварительно файл нужно будет открыть для записи с помощью функции open и параметра 'w':

In [86]:
new_recipes = json.dumps(new_recipes)
with open("./Unit3_data/new_recipes.json", "w") as write_file:
    write_file.write(new_recipes)

Оба действия можно совместить, если использовать метод dump():

In [87]:
with open("./Unit3_data/new_recipes.json", "w") as write_file:
    json.dump(new_recipes, write_file)

## 13.6 Формат XLS (Excel)

In [8]:
pd.set_option('display.max_columns', None)

In [9]:
data = pd.read_excel('./Unit3_data/Fig3-1.xls',header=None)

In [10]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,"U.S. Home Price and Related data, for Figure 3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,See the book for description of data.,NaN,NaN,NaN,"Update Nominal Home Price Index, Click Additio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Monthly data from January 1953 for prices, all...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nominal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Real,NaN,Real,NaN,NaN,NaN,NaN,Home,NaN,NaN,Nominal,NaN,NaN,Consumer,NaN,NaN,NaN,NaN
4,NaN,Home,NaN,Building,U.S.,NaN,NaN,NaN,Price,HPI,NaN,Building,NaN,NaN,Price,CPI Annual&,NaN,NaN,NaN

Основные параметры при чтении  
Параметры, которые можно передавать методу pandas.read_excel():

**io** — первый параметр, в который мы передаём адрес файла, который хотим прочитать. Кроме адреса на диске, можно передавать адрес в интернете или специальный объект ExcelFile, о котором мы поговорим позже.  
**sheet_name** — ссылка на лист в Excel-файле. Возможные варианты значения данного параметра:  
 - 0 — значение по умолчанию, означает, что загружаем первую страницу (первый лист);  
 - 'Sheet1' — можно передать название листа; обычно страницы называются 'SheetX', где X — номер листа, но могут использоваться и другие названия;   
 - [0, 1, 'Sheet3'] — список, содержащий номера или названия листов; в таком случае Pandas вернёт словарь, в котором ключами будут номера или названия листов, а значениями — их содержимое в виде DataFrame;  
 - None — если передать такое значение, то Pandas прочитает все листы и вернёт их в виде словаря, как в предыдущем пункте.

**na_values** — список значений, которые будут считаться пропусками. Здесь всё точно так же, как при чтении .csv файла:  
‘’, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’, ‘-1.#QNAN’, ‘-NaN’, ‘-nan’, ‘1.#IND’, ‘1.#QNAN’, ‘N/A’, ‘NA’, ‘NULL’, ‘NaN’, ‘n/a’, ‘nan’, ‘null’

### Задание 1
Сколько строк содержится в файле, с которым мы будем работать?

Для получения ответа на вопрос прочитайте файл Fig3-1.xls. Явно укажите, что у файла нет заголовка (header). Запишите ниже, сколько строк содержится в полученном датафрейме.

In [12]:
data.shape[0]

864

Чтение с помощью ExcelFile
Еще один способ прочитать Excel-файл — использовать pd.ExcelFile. Это специальный объект, которому на вход можно передать путь к файлу. Сначала мы создаем объект ExcelFile и передаём ему путь к файлу, после этого можем работать с файлом, считывая содержимое.

```python
data_file = pd.ExcelFile('./Fig3-1.xls')  
data = pd.read_excel(data_file, header=None)
```
 Когда это может пригодиться? Например, если мы принимаем файл в одном месте программы, а используем в другом. Это может оптимизировать затрачиваемое время, если мы не знаем заранее, когда будем использовать содержимое файла. Ещё один случай:   в файле есть несколько страниц и нам не нужны все эти страницы сразу. Если мы будем читать страницы порознь с помощью read_excel и передавать в этот метод путь к файлу, мы будем каждый раз загружать этот файл в память. Когда данных много, это заполнит вашу оперативную память. В случае с ExcelFile мы прочитаем файл один раз и потом будем только подгружать необходимые страницы.

С ExcelFile можно работать с помощью контекстного менеджера:

```python
with pd.ExcelFile('path_to_file.xls') as xls:  
    data['Sheet1'] = pd.read_excel(xls, 'Sheet1', na_values=['NA'])  
    data['Sheet2'] = pd.read_excel(xls, 'Sheet2')  
```
Если на первой странице мы хотим считать пропусками только ячейки со значением 'NA', а на второй  – любые похожие на пропуски значения (они описаны выше), то ExcelFile позволит проявить такую гибкость при чтении данных с разных листов.

Если мы просто хотим прочитать два листа из Excel-файла, то этот код:

```python
with pd.ExcelFile('path_to_file.xls') as xls:  
    data['Sheet1'] = pd.read_excel(xls, 'Sheet1')  
    data['Sheet2'] = pd.read_excel(xls, 'Sheet2')  
```
И этот код:

```python
data = pd.read_excel('path_to_file.xls', ['Sheet1', 'Sheet2'])
```
Оба кода дадут нам одинаковый результат как по скорости работы, так и по возвращаемому результату.

### 13.8 Продвинутое чтение Excel-файла

In [6]:
data = pd.read_excel('http://www.econ.yale.edu/~shiller/data/Fig3-1.xls', header=None)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871 entries, 0 to 870
Data columns (total 19 columns):
0     868 non-null object
1     868 non-null object
2     131 non-null object
3     133 non-null object
4     133 non-null object
5     131 non-null object
6     132 non-null object
7     865 non-null object
8     869 non-null object
9     858 non-null object
10    130 non-null object
11    4 non-null object
12    131 non-null object
13    865 non-null object
14    867 non-null object
15    866 non-null object
16    0 non-null float64
17    131 non-null object
18    132 non-null object
dtypes: float64(1), object(18)
memory usage: 129.4+ KB

In [ ]:
#********************************************************************************************

In [10]:
data = pd.read_excel("./Unit3_data/nakladnaya.xls", header=None, skiprows=2)

### Задание 2
Можно заметить, что многие строки полностью состоят из пропусков. Используйте изученный ранее метод pandas, чтобы убрать все такие строки. Запишите ниже, сколько строк осталось.
Чтобы убирать только те строки, в которых все значения являются пропусками, нужно использовать параметр how и передавать в него значение all.

In [15]:
data.dropna(how='all',inplace=True)
data.shape[0]

15

In [18]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,НАКЛАДНАЯ,"№ 5764809 от ""08"" апреля 2018 г.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Грузоотправитель:,NaN,"ООО ""Первый строитель""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Грузополучатель:,NaN,"ООО ""Стройка века""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Основание для отпуска: Договор №,NaN,NaN,86,"от ""02""апреля 2018 г.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,№,Наименование товарно-материальных ценностей,NaN,NaN,NaN,Ед. изм.,NaN,NaN,Количество,NaN,"Цена,","Сумма,"
10,NaN,п/п,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,руб. коп.,руб. коп.
11,NaN,1,"Велосипед ""Спринтер""",NaN,NaN,NaN,шт,NaN,NaN,5,NaN,9000,45000
12,NaN,2,"Велосипед ""Малютка""",NaN,NaN,NaN,шт,NaN,NaN,10,NaN,3500,35000
14,NaN,NaN,Всего отпущено,2 (два) наименования,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,На сумму,80 000 (восемьдесят тысяч) рублей,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,Отпуск разрешил,Зам. Директора,NaN,NaN,NaN,NaN,Куликов,NaN,NaN,Куликов П.Д.,NaN
20,NaN,NaN,М.П.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,Отпустил,Кладовщик,NaN,NaN,NaN,NaN,Мазов,NaN,NaN,Мазов Р.К.,NaN
23,NaN,NaN,Получил,Водитель,NaN,NaN,NaN,NaN,Дроценко,NaN,NaN,Дроценко А.С.,NaN
25,NaN,NaN,М.П.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Задание 3
Какой код поможет узнать номер накладной?  
``` python
data.parse_numbers()[0]  
data.iloc[0, 4].split('от')[0]  
data.iloc[0, 4][2:9]  
```

In [17]:
data.iloc[0, 4][2:9]

'5764809'

### Задание 4
Напишите, сколько столбцов, содержащих значимые данные, содержится в таблице. Например, 23. Не забудьте про столбец с номером товара.

In [22]:
data#.dropna(axis=1,how='all')

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,НАКЛАДНАЯ,"№ 5764809 от ""08"" апреля 2018 г.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Грузоотправитель:,NaN,"ООО ""Первый строитель""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Грузополучатель:,NaN,"ООО ""Стройка века""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Основание для отпуска: Договор №,NaN,NaN,86,"от ""02""апреля 2018 г.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,№,Наименование товарно-материальных ценностей,NaN,NaN,NaN,Ед. изм.,NaN,NaN,Количество,NaN,"Цена,","Сумма,"
10,NaN,п/п,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,руб. коп.,руб. коп.
11,NaN,1,"Велосипед ""Спринтер""",NaN,NaN,NaN,шт,NaN,NaN,5,NaN,9000,45000
12,NaN,2,"Велосипед ""Малютка""",NaN,NaN,NaN,шт,NaN,NaN,10,NaN,3500,35000
14,NaN,NaN,Всего отпущено,2 (два) наименования,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,На сумму,80 000 (восемьдесят тысяч) рублей,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,Отпуск разрешил,Зам. Директора,NaN,NaN,NaN,NaN,Куликов,NaN,NaN,Куликов П.Д.,NaN
20,NaN,NaN,М.П.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,Отпустил,Кладовщик,NaN,NaN,NaN,NaN,Мазов,NaN,NaN,Мазов Р.К.,NaN
23,NaN,NaN,Получил,Водитель,NaN,NaN,NaN,NaN,Дроценко,NaN,NaN,Дроценко А.С.,NaN
25,NaN,NaN,М.П.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Задание 5
Выберите те варианты, которые позволят нам получить таблицу. Не забудьте избавиться от пропусков. Заголовок таблицы нам тоже не нужен.
```python
data.iloc[6:8, [1, 2, 6, 9, 11, 12]]
data.iloc[6:8, [0, 2, 6, 9, 11, 12]]
data.iloc[7:8, :].dropna(axis=1, how='all')
data.iloc[6:8, :].dropna(axis=1, how='any')
data.iloc[6:8, :].dropna(axis=1, how='all')
```

In [29]:
data.iloc[6:8, [1, 2, 6, 9, 11, 12]]
data.iloc[6:8, :].dropna(axis=1, how='all')
data.iloc[6:8, :].dropna(axis=1, how='any');

In [30]:
table = data.iloc[6:8, :].dropna(axis=1, how='all')

Как сохранить эту таблицу в Excel файл:

```python
table.to_excel("table.xls")  
```
Если мы сохраним таблицу именно так, мы сохраним ее индекс, и в данных будет находиться лишний столбец. Чтобы не сохранять индекс, можно в метод to_excel() передать параметр index=False.

Ранее вы познакомились с еще одним способом прочитать Excel-файл с помощью ExcelFile. Теперь вы увидите схожий инструмент для записи — ExcelWriter. Вот как записать данные в файл с его помощью:

```python
writer = pd.ExcelWriter('test.xlsx')  
table.to_excel(writer, index=False, sheet_name='Таблица')  
writer.save()
```
Что здесь произошло?

Во-первых, мы все равно использовали метод to_excel(), но вместо пути к будущему файлу передали объект типа ExcelWriter, который создали на первой строке. Во-вторых, мы вызвали метод save() у объекта ExcelWriter. До этого момента сохранение не было завершено, и мы могли сделать еще некоторые действия. Какие? Давайте узнаем.

### Добавим форматирование
Как мы узнали в самом начале, Excel-файлы поддерживают форматирование текста. С помощью pandas мы можем добавлять форматирование в Excel-файлы, используя ExcelWriter. Если мы хотим добавить форматирование, нужно выбрать объект workbook, с помощью которого мы будем добавлять, например, выделение текста жирным. Кроме этого, нужно выбрать нужную страницу:

```python
workbook = writer.book  
worksheet = writer.sheets['Таблица'] 
```
Теперь давайте выделим цену и сумму жирным, а наименование – красным цветом:

```python
money_fmt = workbook.add_format({'bold': True})  
name_fmt = workbook.add_format({'color': 'red'})  
  
worksheet.set_column('E:F', 20, money_fmt)  
worksheet.set_column(1, 1, 20, name_fmt)
```
Что здесь произошло? 

1. Мы создали два объекта с описанием двух типов форматирования:
 - для оформления цены и стоимости – полужирное начертание; 
 - для оформления наименований товаров – красный цвет текста.  
2. Связали описанные типы форматирования с определёнными ячейками листа "Таблица": 
 - для столбцов E-F выбрали форматирование money_fmt (применяется для оформления цены и стоимости); 
 - для столбца 1, который отвечает за наименование, выбрали форматирование name_fmt.  
Для выбора нужных столбцов при задании параметров форматирования мы использовали два способа. Один из них — с помощью буквенных обозначений. Это стандартный способ обращаться к столбцам в Excel. Второй — с помощью номера столбца.

Важно запомнить, что при работе с Excel при задании диапазона значений значения указываются включительно. Именно поэтому мы выбрали во втором случае применение форматирования от столбца 1 до столбца 1.

Ещё одна вещь, на которую нужно обратить внимание: число 20 среди параметров метода set_column(). Этот параметр означает ширину столбца. Например, если мы передадим число 300, столбец получится очень широким, вы можете убедиться в этом сами.
#### Какие еще параметры можно попробовать:

 - **border** отвечает за границы столбца и может быть равен True или False; 
 - **align** отвечает за расположение данных внутри ячеек, например, center для настройки выравнивания по центру; 
 - **fg_color** отвечает за цвет фона, например, 'green', хотя можно передать и шестнадцатиричное значение, например, '#D7E4BC'.

## 13.10 Формат XML
Давайте сначала посмотрим, как выглядит XML-файл:

<data>      
    <items>    
        <item name="item1">item1abc</item>    
        <item name="item2">item2abc</item>    
    </items>    
</data>

```xml
<data>      
    <items>    
        <item name="item1">item1abc</item>    
        <item name="item2">item2abc</item>    
    </items>    
</data> 
```

Если вы успели поработать с HTML, то можете заметить, что XML очень похож на него. XML расшифровывается как eXtensible Markup Language — расширяемый язык разметки. Он позволяет описывать документы, используя теги. В отличие от HTML, где теги заранее чётко заданы, в XML мы можем задавать теги сами.

Например, если мы хотим описать меню в ресторане, мы можем слегка изменить код выше:

<menu>    
    <dish name="Кура">  
        <price>40</price>  
        <weight>300</weight>  
        <class>Мясо</class>  
    </dish>
    <dish name="Греча">  
        <price>20</price>  
        <weight>200</weight>  
        <class>Крупа</class>  
    </dish>
</menu>

```xml
<menu>
    <dish name="Кура">  
        <price>40</price>  
        <weight>300</weight>  
        <class>Мясо</class>  
    </dish>
    <dish name="Греча">  
        <price>20</price>  
        <weight>200</weight>  
        <class>Крупа</class>  
    </dish>
</menu>
```

#### Структура XML-файла

Как мы увидели выше, данные в формате XML имеют древовидную структуру. Что такое дерево? Это структура, которая имеет узлы и связи между ними. Самый верхнеуровневый узел называется корнем, а всё, что находится в самом низу, называется листьями. В примере выше корнем является `<menu>`, а листьями, например, `<price>` и `<weight>`. 

У `<menu>` есть дети (потомки) — это два узла `<dish>`, имеющие разный атрибут name.

Мы будем пользоваться модулем `ElementTree`, входящим в стандартный пакет `xml`. Этот модуль позволит нам ходить по дереву XML и смотреть, что находится в каждом его узле, начиная с корня и заканчивая листьями. Импортируем модуль:

In [49]:
import xml.etree.ElementTree as ET

#### Чтение файла
Теперь давайте прочитаем файл menu.xml.

In [54]:
tree = ET.parse('./Unit3_data/menu.txt')    
root = tree.getroot()

 Здесь в переменной tree мы читаем всё дерево из XML файла. После этого в переменную root записываем корневой узел дерева tree. Давайте посмотрим, как выглядит root.

In [57]:
root,type(root)

(<Element 'menu' at 0x0000000008F514F8>, xml.etree.ElementTree.Element)

In [58]:
root.getchildren()

[<Element 'dish' at 0x0000000008F513B8>,
 <Element 'dish' at 0x0000000008F51DB8>]

На самом деле можно работать с деревом XML как со списком, если мы используем ElementTree. Каждый узел будет являться списком, в котором находятся его узлы-дети. Это значит, что код:`root.getchildren()[0] ` и код: `root[0] ` 
вернут нам одно и то же.

In [59]:
root.getchildren()[0], root[0]

(<Element 'dish' at 0x0000000008F513B8>,
 <Element 'dish' at 0x0000000008F513B8>)

In [62]:
root[0].attrib

{'name': 'Кура'}

In [64]:
root[0][0]

In [67]:
root[0][0].text

'40'

In [85]:

print(root[0].tag, root[0].attrib['name'])
print(root[0][0].tag,root[0][0].text)
print(root[0][1].tag,root[0][1].text)
print(root[0][2].tag,root[0][2].text)

dish Кура
price 40
weight 300
class Мясо

In [104]:
root[0].attrib['name'], root[0].get('name')

('Кура', 'Кура')

### Задание 3
Какое значение тега у узла root[0][1]?   
Введите ответ в поле ниже, без кавычек.

In [86]:
root[0][1].tag

'weight'

#### Использование циклов
Так как к узлам можно обращаться как к спискам, можно использовать циклы для итерации по детям узлов.

Например, если мы хотим напечатать все значения в листьях, то есть название блюда, название параметра этого блюда и значение параметра, то поможет следующий код:

In [87]:
for elem in root:  
    for subelem in elem:  
        print(elem.attrib['name'], subelem.tag, subelem.text)  
    print()

Кура price 40
Кура weight 300
Кура class Мясо

Греча price 20
Греча weight 200
Греча class Крупа

### Задание 4
Посчитайте, сколько детей у первого объекта dish. Для этого используйте метод len(), ответ запишите в поле ниже.

In [99]:
len(root[0])

3

## 13.12 DataFrame и JSON из XML

Превращение XML в pd.DataFrame
Давайте посмотрим, как превратить наш XML-файл в pandas DataFrame:

```python
df_index = ['name', 'price', 'weight', 'class']  
df = pd.DataFrame(columns=df_index)  
  
for elem in root:  
    elements = [elem.get('name'), elem[0].text, elem[1].text, elem[2].text]  
    df = df.append(pd.Series(elements, index=df_index), ignore_index=True) 
```
Посмотрим на получившийся DataFrame:

In [101]:
df_index = ['name', 'price', 'weight', 'class']  
df = pd.DataFrame(columns=df_index)  

for elem in root:  
    elements = [elem.get('name'), elem[0].text, elem[1].text, elem[2].text]  
    df = df.append(pd.Series(elements, index=df_index), ignore_index=True) 
    
df

    name price weight  class
0   Кура    40    300   Мясо
1  Греча    20    200  Крупа

```python
import xmljson  
xmljson.parker.data(root)  
```

Превращение XML в JSON
Ранее вы могли обратить внимание, что XML похож на JSON. Для Python есть несколько сторонних библиотек, которые позволяют трансформировать XML в JSON. Одна из таких библиотек (пакетов) — xmljson. Есть несколько принятых соглашений (conventions) по превращению XML в JSON. Рассмотрим простой пример (пример был взят отсюда), прежде чем поработать с нашими данными. Допустим, наши данные выглядят так:

```xml
<p id="1">text</p>
```  
Тогда для соглашения badgerfish данные будут выглядеть так:


{  
  'p': {  
    '@id': 1,  
    '$': 'text'  
  }  
}

Названия атрибутов предваряются символом @, значения помечаются символом $. Соглашение gdata:

{  
  'p': {  
    '$t': 'text'  
  }  
} 

Это соглашение не поддерживает атрибуты. Значение помечено как $t. Соглашение parker:

{  
  'p': 'text'  
}  

Атрибуты также не поддерживаются. Видно, что это самый простой способ представить XML в виде JSON: значение тега записывается как значение в словаре, где ключ — название тега. Переведем наши данные в JSON с помощью соглашения parker:

### Запись в XML-файл
Осталось самое последнее — научиться создавать свои XML-файлы. Вероятно, это почти никогда не пригодится вам, но все же такая ситуация может возникнуть. Чтобы создать корень дерева, нужно использовать метод Element() из класса ElementTree:

```python
new_root = ET.Element('menu')  
```
Теперь мы можем добавлять новые узлы в наше дерево, используя метод SubElement из того же класса:

```python
dish_1 = ET.SubElement(new_root, 'dish')  
dish_2 = ET.SubElement(new_root, 'dish')  
new_root.getchildren() 
```
В метод SubElement мы передали первым аргументом узел, в который добавляем потомка. Вторым аргументом мы передали название нового тега. Точно так же можно добавлять новые узлы к любым существующим узлам, не только к корню.

Атрибуты можно добавить с помощью метода set(), передав первым параметром название атрибута, а вторым — его значение:

```python
dish_1.set('name', 'Кура')  
```
Значение тега можно задать через уже знакомый вам параметр text:

```python
dish_1.text = 'Белок'
```

Можно записать файл, используя сам класс ElementTree:

```python
ET.ElementTree(new_root).write('new_menu_good.xml', encoding="utf-8")  
```
Для этого, мы передаем в класс ElementTree наше дерево (не его строковое представление) и вызываем метод write(). В метод мы передаем путь к новому файлу и нужную нам кодировку. Посмотрим, что получилось:

In [111]:
new_root = ET.Element('menu')

dish_1 = ET.SubElement(new_root, 'dish')  
dish_2 = ET.SubElement(new_root, 'dish')  

dish_1.set('name', 'Кура')
dish_1.text = 'Белок'

In [117]:
ET.ElementTree(new_root).write('new_menu_good.xml', encoding="utf-8")

In [91]:
#*********************************************ПОДВАЛ************************************************

In [64]:
row = df[df['id'] == 10259] 

ingredients_dummies = row.loc[0][3:]
(ingredients_dummies[ingredients_dummies>0]).index.tolist()

['purple onion',
 'romaine lettuce',
 'feta cheese crumbles',
 'seasoning',
 'grape tomatoes',
 'garlic',
 'pepper',
 'black olives',
 'garbanzo beans']