In [1]:
import pandas as pd
import numpy as np

In [2]:
log = pd.read_csv('./Unit3_data/log.xlt', header=None)
log.columns = ['user_id','time','bet','win']

In [3]:
log.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

### Задание 1
Посчитайте количество пропусков в столбце time. Метод isna() есть не только у DataFrame, но и у Series. Это значит, что применять его можно не только ко всей таблице, но и к каждому столбцу отдельно.
Примените этот метод, затем просуммируйте количество строк в итоговом столбце. Ответ введите в поле ниже.

In [4]:
log.time.isna().sum()

15

### Задание 2
Удалите все столбцы, где есть пропуски. Запишите в поле, сколько осталось столбцов в данных после этого.

Используйте оригинальный датасет log.csv.

In [5]:
len(log.dropna(axis=1).columns)

1

### Задание 3
Удалите все строки, где есть пропуски. Запишите в поле, сколько осталось строк в данных после этого.

Используйте оригинальный датасет log.csv.

In [6]:
len(log.dropna().index)

133

### Задание 4
Используйте оригинальный датасет log.csv.

С данными в столбцах bet и win мы разберемся позже: пропуски в этих столбцах требуют особого подхода.

А сейчас:

если есть пропуски в столбце user_id - удалите столбец user_id,

если есть пропуски в столбце time - удалите столбец time.

Запишите в поле ответа, количество оставшихся столбцов в данных, после этих действий.

In [15]:
columns_to_look = log.columns.drop(['bet','win'])
columns_to_drop = columns_to_look[log[columns_to_look].isna().any()]
len(log.columns.drop(columns_to_drop))

3

In [18]:
log.drop(columns_to_drop,axis =1).shape[1]

3

In [9]:
# *******************************************************************************************
# *******************************************************************************************

### Задание 1
Удалите дубли среди столбцов user_id и time. Запишите в поле ниже, сколько осталось строк после удаления дублей.

Используйте оригинальный датасет log.csv.

In [10]:
log.drop_duplicates(subset=['user_id','time']).index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            976, 977, 984, 989, 990, 991, 992, 993, 994, 995],
           dtype='int64', length=986)

In [11]:
# *******************************************************************************************
# *******************************************************************************************

### Задание 1
Уберите лишний символ, преобразуйте признак time к datetime. 
После этого найдите наибольшую дату и выведите ее без времени.

Подсказка: можно применить метод max() к получившемуся столбцу со временем.

Не забудьте избавиться от пропусков.

Запишите ответ в формате "YYYY-MM-DD".  
Например, 1993-06-08.

In [12]:
new_time = log.time.dropna().apply(lambda x: x[1:])
pd.to_datetime(new_time).max().strftime('%Y-%m-%d')

'2019-04-20'

In [13]:
# *******************************************************************************************
# *******************************************************************************************

Например, если мы хотим получить столбец, в котором каждым значением будет год из другого столбца (это и есть feature engineering - создание новых признаков из старых), мы можем сделать следующее:

year_column = log['time'].apply(lambda x: x.year)  
Библиотека pandas позволяет использовать аксессор dt для упрощения подобной работы:

year_column = log['time'].dt.year

In [14]:
# *******************************************************************************************
# *******************************************************************************************

### Задание 1
Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать value_counts().

Найдите минуту, которая встречалась в данных чаще всего. Введите ответ в поле ниже.
Например, 7.

In [15]:
pd.to_datetime(log.time.dropna().apply(lambda x: x[1:])).dt.minute.value_counts().idxmax()

36

### Задание 2
Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать value_counts().

Найдите месяц, который встречался в данных реже всего. Введите ответ в поле ниже.
Например, 2.

In [16]:
pd.to_datetime(log.time.dropna().apply(lambda x: x[1:])).dt.month.value_counts().idxmin()

4

### Задание 3*
Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать sum().

Посчитайте, сколько дней в данных являются выходными (то есть субботой или воскресеньем). Введите ответ в поле ниже.
Например, 300.

In [17]:
pd.to_datetime(log.time.dropna().apply(lambda x: x[1:])).dt.dayofweek.isin([5,6]).sum()

283

### Задание 4*
Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать value_counts(). Кроме этого, потребуется написать функцию, которая преобразует дату во время дня.

Договоримся, что с 0 до 5 часов - ночь, с 6 до 11 - утро, с 12 до 17 - день, с 18 до 23 - вечер.

Важно: для выполнения задания вам нужно будет избавиться от пропусков только в столбце time. Вспомните, как избавиться от пропусков только по конкретному признаку.

Посчитайте, какое время дня встречается в данных реже всего. Введите ответ в поле ниже: ночь, утро, день или вечер.
Например, ночь.

In [18]:
def time_of_day(hour):
    if 0 <= hour <= 5: return 'ночь'
    if 6 <= hour <= 11: return 'утро'
    if 12 <= hour <= 17: return 'день'
    if 18 <= hour <= 23: return 'вечер'

pd.to_datetime(log.time.dropna().apply(lambda x: x[1:])).dt.hour.apply(time_of_day).value_counts().idxmin()

'вечер'

### Задание 5*
Давайте повторим то, что мы прошли в этой секции. Напишите код, который создаст признак hour из признака time в датасете log.csv. Для этого:

1. загрузите датасет log.csv в переменную log, дальше работать будем с ней;

2. установите имена столбцов: ['user_id', 'time', 'bet', 'win'];

3. избавьтесь от пропусков в log;

4. приведите переменную time к подходящему для извлечения признаков виду;

5. получите значение часа для каждой строки в переменной time и запишите в столбец hour в log.

Результатом будет таблица log со столбцом hour внутри.

In [19]:
log = pd.read_csv('./Unit3_data/log.xlt', header=None)
log.columns = ['user_id','time','bet','win']
log.dropna(inplace=True)
log['hour'] = pd.to_datetime(log.time.apply(lambda x: x[1:])).dt.hour

In [20]:
# *******************************************************************************************
# *******************************************************************************************

### Задание 1
Используйте оригинальный датасет log.csv. Результат запишите числом в поле ниже.

Подсказка: можно использовать value_counts().

Посчитайте, сколько раз люди приходили, но не делали ставок. Для этого заполните пропуски в столбце bet значением 0 и посчитайте количество таких значений.
Например, 66.

In [25]:
log = pd.read_csv('./Unit3_data/log.xlt', header=None)
log.columns = ['user_id','time','bet','win']

In [41]:
%%timeit
log.fillna({'bet':0}).bet.value_counts()[0]

1.25 ms ± 39.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [43]:
# %%timeit
log.fillna({'bet':0}).bet.tolist().count(0)

515

#### Заполнение с помощью функции   
Теперь поработаем с признаком win, в котором тоже есть пропуски.

Иногда нужно заполнять пропуски не одним и тем же числом, а разными, в зависимости от какого-то условия. Перед нами именно этот случай.

Предположим, что если в признаке win находится пропуск, то выигрыша не было. Здесь два возможных случая:
 - Человек не делал ставки и ничего не выиграл. То есть просто пришел, посмотрел и ушел.  
 - Человек делал ставку, но не выиграл. Значит, выигрыш на самом деле является отрицательным значением - это проигрыш.

Предлагаем вам написать метод, который заполнит пропуски в признаке win в соответствии с предположением выше. 

Для этого можно применить метод apply() ко всей таблице и передать ему функцию, которая вычисляет размер выигрыша (или проигрыша) по следующей схеме:

 - Если значение в столбце win существует (не пропуск) - вернуть это же значение. Это значит, что человек выиграл.
 - Если вместо значения в столбце win пропуск, вернуть 0.
На выходе получится столбец без пропусков. Следующим шагом будет замена старого столбца win на новый.

Выглядеть это будет примерно так:

```python
def fillna_win(row):  
    # Нужно дописать  
  
# Применяем функцию  
new_win = log.apply(lambda row: fillna_win(row), axis=1)  
  
# Заменяем старый столбец с пропусками на новый без пропусков  
log['win'] = new_win  
```

### Задание 2

Используйте оригинальный датасет log.csv. Проделайте с ним действия из задания 1, расположенного выше на этой странице, и из пункта "Заполнение с помощью функции".

Результат запишите числом в поле ниже.

Подсказка: можно использовать sum().

Посчитайте, сколько раз участники ставок проиграли деньги. То есть посчитайте количество строк, для которых в столбце win находится отрицательное значение.
Например, 616.

In [144]:
def fillna_win_2(row):
    row.win = row.win if row.win==row.win  else 0 - row.bet
    return row

def fillna_win(row):
    row.win = row.win if row.win==row.win  else 0 - row.bet
    return row.win

In [145]:
log = pd.read_csv('./Unit3_data/log.xlt', header=None)
log.columns = ['user_id','time','bet','win']
log.fillna({'bet':0}, inplace=True)

new_win = log.apply(lambda row: fillna_win(row), axis=1)
log['win'] = new_win

In [148]:
(log.win < 0).sum()

347

In [149]:
# *******************************************************************************************
# *******************************************************************************************

### Задание 1
Используйте модифицированный в прошлой секции датасет log.csv. Результат запишите числом в поле ниже.

Подсказка - можно использовать sum().

Создайте признак net, хранящий сумму выигрыша с учетом ставки. Для этого из признака win поэлементно вычтите признак bet и запишите в новый столбец. После этого посчитайте, у скольких людей выигрыш положительный.
Например, 0.

In [153]:
log = pd.read_csv('./Unit3_data/log.xlt', header=None)
log.columns = ['user_id','time','bet','win']
log.fillna({'bet':0, 'win': 0}, inplace=True)
log['net'] = log.win - log.bet
(log.net>0).sum()

138

### Задание 2
Используйте датасет log.csv, получившийся в результате выполнения предыдущего задания. Посчитайте среднее значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0. Результат округлите до целого, отбросив дробную часть.

Подсказка: можно использовать mean().

In [157]:
int(log.net[log.net>0].mean())

80253

### Задание 3
Используйте датасет log.csv, получившийся в результате выполнения первого задания этого блока. Посчитайте медианное значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0. Результат округлите до целого, отбросив дробную часть.

Подсказка: можно использовать median().

In [158]:
int(log.net[log.net>0].median())

5347

## 12.7 Сколько можно выиграть/проиграть?

### Задание 1
Используйте модифицированный исходный датасет log.csv.

При модификации датасета log.csv, пропущенные значения в столбцах bet и win замените на 0, cоздайте столбец net, хранящий сумму выигрыша с учетом ставки (для этого из столбца win поэлементно вычтите столбец bet и запишите в новый столбец).

Посчитайте, какой процент посещений букмекерской конторы оборачивался ставкой. Для этого поделите количество ставок (значений больше 0) на общее количество посещений конторы. Результат округлите до одного знака после запятой.

In [166]:
log = pd.read_csv('./Unit3_data/log.xlt', header=None)
log.columns = ['user_id','time','bet','win']
log.fillna({'bet':0, 'win': 0}, inplace=True)
log['net'] = log.win - log.bet

(log.bet>0).sum()/log.bet.size * 100

48.5

### Задание 2
Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.

Посчитайте среднее значение ставки (из столбца bet) в тех случаях, когда ставка была сделана. Результат округлите до целого, отбросив дробную часть.
Подсказка: можно использовать mean().

In [170]:
int(log.bet[log.bet>0].mean())

6785

### Задание 3
Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.

Посчитайте средний выигрыш (из столбца net) в тех случаях, когда ставка была сделана. Результат округлите до целого, отбросив дробную часть.
Пояснение: выигрыш в данном случае означает изменение количества денег и может быть отрицательным. В таком случае это проигрыш.

Подсказка: можно использовать mean().

In [177]:
int(log.net[log.bet>0].mean())

20421

### Задание 4
Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.

Посчитайте среднюю сумму потерь при проигрыше (из столбца net). Результат округлите до целого, отбросив дробную часть.
Пояснение: ответ должен быть дан в виде отрицательного числа.

Подсказка: можно использовать mean().

In [180]:
int(log.net[log.net<0].mean())

-3372

### Задание 5
Посчитайте, какой процент ставок заканчивается выигрышем, а какой - проигрышем. Сравните эти значения и ответьте, какое из них больше.

Выберите пункт из списка ниже.

In [185]:
sum(log.net>0)/sum(log.bet>0), sum(log.net<0)/sum(log.bet>0)

(0.2845360824742268, 0.7154639175257732)

### Задание 6*
Давайте повторим то, что мы прошли в этой секции. Напишите код, который узнает, чему была равна минимальная ставка и сколько людей сделали такую ставку. Для этого:

1. загрузите датасет log.csv;

2. посчитайте, чему равна минимальная ставка;

3. посчитайте, сколько раз была сделана минимальная ставка, и запишите результат в переменную min_bet_amount в виде целого числа.

In [186]:
log = pd.read_csv('./Unit3_data/log.xlt', header=None)
log.columns = ['user_id','time','bet','win']
min_bet_amount = log.bet.tolist().count(log.bet.min())

## 12.8 Повторение merge/groupby

### Что сделали до этого
Теперь мы снова будем использовать log.csv и users.csv вместе.

Повторим часть предобработки, которую мы должны были выполнить ранее:
```python
# Приведем признак user_id к одному формату в обоих датасетах  
us.user_id = us.user_id.apply(lambda x: x.lower())

# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1]) 
```
Это будет нужно для того, чтобы объединить оба датасета и работать с едиными данными для проведения продвинутого анализа.

In [201]:
users = pd.read_csv('./Unit3_data/users.xlt',sep='\t', encoding = 'koi8_r')
users.columns = ['user_id','email','geo']

In [208]:
users.user_id = users.user_id.apply(lambda x: x.lower())

In [215]:
log = log[log.user_id != '#error']

log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])

### Merge
Теперь объединим данные с помощью метода pd.merge():

```python
pd.merge(dataframe1, dataframe2, on='feature_name')  
```
Первые два аргумента - таблицы, которые нужно будет объединить.

Третий аргумент - название признака, по которому будем объединять данные. Мы уже привели данные к одинаковому виду, и теперь их можно объединить по признаку 'user_id', чтобы получить полную информацию о пользователе.

### Задание 1

Объедините датасеты log.csv и users.csv по признаку user_id по примеру выше. Ответ запишите в поле ниже.

Запишите количество строк в получившейся таблице.
Например, 700.

In [224]:
df = pd.merge(log, users, on='user_id')
len(pd.merge(log, users, on='user_id'))

975

### Groupby
Теперь повторим groupby.

Данный метод позволяет сгруппировать данные и применить к ним методы агрегации:

```python
df.groupby('user_id').win.median().median()  
```
В данном случае мы группируем данные по признаку user_id.

После этого мы в каждой группе выбираем признак win.

Затем мы берем медиану каждой группы по признаку win и на выходе получаем таблицу, в которой индексом является признак user_id. В этой таблице единственный столбец - медиана по каждой группе (то есть по каждому пользователю).

Наконец, последний вызов median() дает нам медиану по предыдущему столбцу, то есть возвращает одно число.

In [225]:
df.groupby('user_id').win.median().median()

5951.75

## 12.9 Анализ по пользователям

### Задание 1
Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа (отбросьте дробную часть).

Посчитайте медиану баланса по каждому пользователю. Для этого сгруппируйте по пользователям, возьмите признак net, просуммируйте по каждому пользователю и получите медиану.
Например, 10382

In [226]:
users = pd.read_csv('./Unit3_data/users.xlt',sep='\t', encoding = 'koi8_r')
users.columns = ['user_id','email','geo']
users.user_id = users.user_id.apply(lambda x: x.lower())

log = pd.read_csv('./Unit3_data/log.xlt', header=None)
log.columns = ['user_id','time','bet','win']

log = log[log.user_id != '#error'] 
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
log.time = log.time.apply(lambda x:str(x).replace("[",""))


log.fillna({'bet':0, 'win': 0}, inplace=True)
log['net'] = log.win - log.bet

df = pd.merge(log, users, on='user_id')

In [277]:
df.groupby(by='user_id').net.sum().median(), log.groupby(by='user_id').net.sum().median()

(1986.0, 2202.0)

In [278]:
len(log.groupby(by='user_id').net.sum())

101

In [279]:
set(log.user_id.unique())- set(users.user_id.unique())

{'user_956'}

### Задание 2
Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа (отбросьте дробную часть).

Сколько раз в среднем каждый человек приходит, не делая ставок, при условии, что у этого человека все-таки есть хотя бы одна ставка? Например: Человек посетил букмекерскую контору 5 раз из них 1 раз сделал ставку, 4 раза нет - условие выполняется. Человек посетил букмекерскую контору 5 раз из них ни разу ставку не сделал - условие не выполняется. Для того, чтобы узнать это, просуммируйте в каждой группе количество записей со ставкой, равной 0, и поделите на общее количество групп. Если при этом в группе нет записей со ставкой больше 0, считаем количество записей в данной группе равным 0.
Например, 2

In [330]:
df.groupby('user_id').bet.apply(lambda x: (x==0).sum() if x.sum() else 0).mean()

5.05

In [332]:
df.groupby('user_id').groups

{'user_1000': Int64Index([829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840], dtype='int64'),
 'user_900': Int64Index([56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69], dtype='int64'),
 'user_901': Int64Index([512, 513, 514, 515, 516, 517, 518, 519], dtype='int64'),
 'user_902': Int64Index([917, 918, 919, 920, 921, 922, 923, 924], dtype='int64'),
 'user_903': Int64Index([23, 24, 25, 26, 27, 28, 29, 30, 31], dtype='int64'),
 'user_904': Int64Index([813, 814, 815, 816, 817, 818], dtype='int64'),
 'user_905': Int64Index([388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399], dtype='int64'),
 'user_906': Int64Index([79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89], dtype='int64'),
 'user_907': Int64Index([606, 607, 608, 609, 610, 611, 612], dtype='int64'),
 'user_908': Int64Index([729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741], dtype='int64'),
 'user_909': Int64Index([897, 898, 899, 900, 901], dtype='int64'),
 'user_910': Int64Index([584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596,
             597],
            dtype='int64'),
 'user_911': Int64Index([876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887], dtype='int64'),
 'user_912': Int64Index([494, 495, 496, 497, 498, 499, 500, 501, 502, 503], dtype='int64'),
 'user_913': Int64Index([314, 315, 316, 317, 318, 319, 320, 321, 322, 323], dtype='int64'),
 'user_914': Int64Index([681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691], dtype='int64'),
 'user_915': Int64Index([449, 450, 451, 452, 453], dtype='int64'),
 'user_916': Int64Index([333, 334, 335, 336, 337, 338, 339, 340, 341, 342], dtype='int64'),
 'user_917': Int64Index([45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55], dtype='int64'),
 'user_918': Int64Index([366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377], dtype='int64'),
 'user_919': Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64'),
 'user_920': Int64Index([419, 420, 421, 422, 423, 424, 425, 426, 427], dtype='int64'),
 'user_921': Int64Index([454, 455, 456, 457], dtype='int64'),
 'user_922': Int64Index([770, 771, 772, 773, 774, 775, 776, 777, 778, 779], dtype='int64'),
 'user_923': Int64Index([699, 700, 701, 702, 703, 704, 705, 706], dtype='int64'),
 'user_924': Int64Index([400, 401, 402, 403, 404, 405, 406, 407, 408], dtype='int64'),
 'user_925': Int64Index([950, 951, 952, 953, 954, 955, 956, 957], dtype='int64'),
 'user_926': Int64Index([656, 657, 658, 659, 660, 661, 662], dtype='int64'),
 'user_927': Int64Index([225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237,
             238],
            dtype='int64'),
 'user_928': Int64Index([477, 478, 479, 480, 481, 482, 483, 484, 485], dtype='int64'),
 'user_929': Int64Index([205, 206, 207, 208, 209, 210, 211, 212, 213], dtype='int64'),
 'user_930': Int64Index([742, 743, 744, 745, 746, 747, 748, 749, 750, 751], dtype='int64'),
 'user_931': Int64Index([819, 820, 821, 822, 823, 824, 825, 826, 827, 828], dtype='int64'),
 'user_932': Int64Index([970, 971, 972, 973, 974], dtype='int64'),
 'user_933': Int64Index([530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540], dtype='int64'),
 'user_934': Int64Index([958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969], dtype='int64'),
 'user_935': Int64Index([437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448], dtype='int64'),
 'user_936': Int64Index([762, 763, 764, 765, 766, 767, 768, 769], dtype='int64'),
 'user_937': Int64Index([299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
             312, 313],
            dtype='int64'),
 'user_938': Int64Index([343, 344, 345, 346, 347, 348, 349, 350, 351, 352], dtype='int64'),
 'user_939': Int64Index([858, 859, 860, 861, 862, 863, 864, 865, 866], dtype='int64'),
 'user_940': Int64Index([359, 360, 361, 362, 363, 364, 365], dtype='int64'),
 'user_941': Int64Index([613, 614, 615, 616, 617, 618, 619, 620], dtype='int64'),
 'user_942': Int64Index([193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204], dtype='int64'),
 'user_943': Int64Index([428, 429, 430, 431, 432, 433, 434, 435, 436], dtype='int64'),
 'user_944': Int64Index([486, 487, 488, 489, 490, 491, 492, 493], dtype='int64'),
 'user_945': Int64Index([718, 719, 720, 721, 722], dtype='int64'),
 'user_946': Int64Index([841, 842, 843, 844, 845, 846, 847, 848, 849], dtype='int64'),
 'user_947': Int64Index([925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935], dtype='int64'),
 'user_948': Int64Index([324, 325, 326, 327, 328, 329, 330, 331, 332], dtype='int64'),
 'user_949': Int64Index([249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261,
             262],
            dtype='int64'),
 'user_950': Int64Index([888, 889, 890, 891, 892, 893, 894, 895, 896], dtype='int64'),
 'user_951': Int64Index([239, 240, 241, 242, 243, 244, 245, 246, 247, 248], dtype='int64'),
 'user_952': Int64Index([90, 91, 92, 93, 94, 95, 96, 97, 98, 99], dtype='int64'),
 'user_953': Int64Index([942, 943, 944, 945, 946, 947, 948, 949], dtype='int64'),
 'user_954': Int64Index([32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44], dtype='int64'),
 'user_955': Int64Index([632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642], dtype='int64'),
 'user_957': Int64Index([676, 677, 678, 679, 680], dtype='int64'),
 'user_958': Int64Index([409, 410, 411, 412, 413, 414, 415, 416, 417, 418], dtype='int64'),
 'user_959': Int64Index([797, 798, 799, 800, 801, 802, 803], dtype='int64'),
 'user_960': Int64Index([378, 379, 380, 381, 382, 383, 384, 385, 386, 387], dtype='int64'),
 'user_961': Int64Index([867, 868, 869, 870, 871, 872, 873, 874, 875], dtype='int64'),
 'user_962': Int64Index([780, 781, 782, 783, 784, 785, 786, 787, 788, 789], dtype='int64'),
 'user_963': Int64Index([804, 805, 806, 807, 808, 809, 810, 811, 812], dtype='int64'),
 'user_964': Int64Index([134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144], dtype='int64'),
 'user_965': Int64Index([790, 791, 792, 793, 794, 795, 796], dtype='int64'),
 'user_966': Int64Index([116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128,
             129, 130, 131, 132, 133],
            dtype='int64'),
 'user_967': Int64Index([707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717], dtype='int64'),
 'user_968': Int64Index([153, 154, 155, 156, 157, 158, 159, 160], dtype='int64'),
 'user_969': Int64Index([504, 505, 506, 507, 508, 509, 510, 511], dtype='int64'),
 'user_970': Int64Index([850, 851, 852, 853, 854, 855, 856, 857], dtype='int64'),
 'user_971': Int64Index([555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566], dtype='int64'),
 'user_972': Int64Index([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
             113, 114, 115],
            dtype='int64'),
 'user_973': Int64Index([8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22], dtype='int64'),
 'user_974': Int64Index([161, 162, 163, 164, 165, 166, 167, 168], dtype='int64'),
 'user_975': Int64Index([936, 937, 938, 939, 940, 941], dtype='int64'),
 'user_976': Int64Index([214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224], dtype='int64'),
 'user_977': Int64Index([567, 568, 569, 570, 571, 572, 573, 574, 575, 576], dtype='int64'),
 'user_978': Int64Index([145, 146, 147, 148, 149, 150, 151, 152], dtype='int64'),
 'user_979': Int64Index([577, 578, 579, 580, 581, 582, 583], dtype='int64'),
 'user_980': Int64Index([70, 71, 72, 73, 74, 75, 76, 77, 78], dtype='int64'),
 'user_981': Int64Index([752, 753, 754, 755, 756, 757, 758, 759, 760, 761], dtype='int64'),
 'user_982': Int64Index([466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476], dtype='int64'),
 'user_983': Int64Index([902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914,
             915, 916],
            dtype='int64'),
 'user_984': Int64Index([663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675], dtype='int64'),
 'user_985': Int64Index([275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287,
             288],
            dtype='int64'),
 'user_986': Int64Index([541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553,
             554],
            dtype='int64'),
 'user_987': Int64Index([263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274], dtype='int64'),
 'user_988': Int64Index([692, 693, 694, 695, 696, 697, 698], dtype='int64'),
 'user_989': Int64Index([621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631], dtype='int64'),
 'user_990': Int64Index([180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192], dtype='int64'),
 'user_991': Int64Index([643, 644, 645, 646, 647, 648, 649, 650], dtype='int64'),
 'user_992': Int64Index([289, 290, 291, 292, 293, 294, 295, 296, 297, 298], dtype='int64'),
 'user_993': Int64Index([723, 724, 725, 726, 727, 728], dtype='int64'),
 'user_994': Int64Index([598, 599, 600, 601, 602, 603, 604, 605], dtype='int64'),
 'user_995': Int64Index([520, 521, 522, 523, 524, 525, 526, 527, 528, 529], dtype='int64'),
 'user_996': Int64Index([651, 652, 653, 654, 655], dtype='int64'),
 'user_997': Int64Index([353, 354, 355, 356, 357, 358], dtype='int64'),
 'user_998': Int64Index([169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179], dtype='int64'),
 'user_999': Int64Index([458, 459, 460, 461, 462, 463, 464, 465], dtype='int64')}

### Задание 3**
Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа - количества дней.

Сколько в среднем времени проходит между появлением человека в сервисе и первой ставкой? Считать нужно только тех, кто делал ставку. Для того, чтобы узнать это, напишите метод, считающий минимальное время среди ставок, равных 0, и минимальное время среди ставок больше 0. После этого верните разницу между вторым и первым числом. Пройдитесь по всем группам в цикле. Если в группе нет ставок больше 0, пропустите эту группу. Просуммируйте разницу во времени для каждой группы (с помощью метода, описанного выше) и поделите на количество групп, которые вы не пропустили.
Например, если ваш результат Timedelta('23 days 12:24:32'), то в поле пишите 23.

In [345]:
log = pd.read_csv('./Unit3_data/log.xlt', header=None)
log.columns = ['user_id','time','bet','win']

log = log[log.user_id != '#error'] 
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
log.time = log.time.apply(lambda x:str(x).replace("[",""))
log.time = pd.to_datetime(log.time)

log.fillna({'bet':0, 'win': 0}, inplace=True)
log['net'] = log.win - log.bet

df = pd.merge(log, users, on='user_id')

In [372]:
def time_delta(df): 
    return df.time[df.bet > 0].min() - df.time[df.bet == 0].min()

group = df.groupby(by='user_id' )
(group.apply(time_delta)[group.bet.sum() != 0]).sum() / sum(group.bet.sum() != 0)

Timedelta('46 days 06:54:48')

## 12.10 Анализ по городам

### Задание 1
Используйте датасет, который получился в результате всех преобразований в прошлой секции (в том числе, заполнение пропусков).

Ответ запишите в поле ниже в виде одного слова, с большой буквы.

Наибольший суммарный выигрыш среди всех городов имеет Москва. Посчитайте следующий за ней город. Для этого сгруппируйте по городам, возьмите признак win, просуммируйте по каждому городу, отсортируйте и получите второй город.
Например, Иннополис.

In [386]:
aa = df.groupby(by = 'geo').win.sum()
aa.sort_values().index[-2]

'Воронеж'

In [373]:
df.columns

Index(['user_id', 'time', 'bet', 'win', 'net', 'email', 'geo'], dtype='object')

### Задание 2*
Используйте датасет, который получился в результате всех преобразований в прошлой секции (в том числе, заполнение пропусков).

Подсказки:

1. Можно использовать методы min() и max().

2. Учитывайте, что минимальная ставка, это ставка, которая была сделана, т.е. если ставка равна нулю - значит ставки не было.

3. Ответ запишите в поле ниже в виде целого числа (нужно отбросить дробную часть).

Во сколько раз различаются максимальное и минимальное значение средней ставки по городам? Для того, чтобы это посчитать, нужно сгруппировать по городам, взять среднее от признака bet, найти максимальное и минимальное значения, затем поделить одно на другое.
Например, 3.

In [393]:
group = df[df.bet > 0].groupby(by = 'geo')
int(group.bet.mean().max() / group.bet.mean().min())

127

### Задание 3
Давайте повторим все, что мы прошли в этой секции. Напишите код, который посчитает, сколько раз пользователи приходили в букмекерскую контору в каждом городе. Для этого:

1. загрузите датасеты log.csv и users.csv;

2. удалите user_id с ошибкой (#error) и приведите признак user_id к одному виду в обоих датасетах;

3. слейте два датасета в один по признаку user_id;

4. сгруппируйте данные по правильному признаку (какому - вам нужно понять самим), затем выберите user_id и воспользуйтесь функцией count() для подсчета наблюдений в каждой группе;

5. результат (таблицу) запишите в sample2.

In [396]:
users = pd.read_csv('./Unit3_data/users.xlt',sep='\t', encoding = 'koi8_r')
users.columns = ['user_id','email','geo']
users.user_id = users.user_id.apply(lambda x: x.lower())

log = pd.read_csv('./Unit3_data/log.xlt', header=None)
log.columns = ['user_id','time','bet','win']

log = log[log.user_id != '#error'] 
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
log.time = log.time.apply(lambda x:str(x).replace("[",""))


log.fillna({'bet':0, 'win': 0}, inplace=True)
log['net'] = log.win - log.bet

df = pd.merge(log, users, on='user_id')

In [407]:
sample2 = df.groupby('geo').user_id.count()
sample2

geo
Арзангелтск         96
Воронеж             88
Екатеринбург        49
Ижевск              61
Казань              66
Краснодар           86
Красноярск          56
Москва              61
Пермь               55
Санкт-Петербург    115
Ставрополь          36
Тюмень              32
Хабаровск           60
Ярославль           89
Name: user_id, dtype: int64

In [408]:
df.groupby('geo').agg({'user_id':'count'})

                 user_id
geo
Арзангелтск           96
Воронеж               88
Екатеринбург          49
Ижевск                61
Казань                66
Краснодар             86
Красноярск            56
Москва                61
Пермь                 55
Санкт-Петербург      115
Ставрополь            36
Тюмень                32
Хабаровск             60
Ярославль             89

In [ ]:
df.groupby('geo').agg()