In [1]:
import pandas as pd
import os
import warnings
import numpy as np
import re

from functools import reduce

warnings.filterwarnings("ignore")

# =============================================================

In [2]:
# обьединение данных по каждом бренду в один DataFrame
# by_brend_dir = os.listdir('C:/Users/Manych/projects/persnl/Project_7_data_extra/by_brend')

# to_concat = []
# for brand in by_brend_dir:
#     try: 
#         brand_df = pd.read_csv(
#             'C:/Users/Manych/projects/persnl/Project_7_data_extra/by_brend/' + brand,sep=',',low_memory=False)
#     except:
#         brand_df = pd.read_csv(
#             'C:/Users/Manych/projects/persnl/Project_7_data_extra/by_brend/' + brand,sep=';',low_memory=False)
#     to_concat.append(brand_df)

# consolidated_df = pd.concat(to_concat)

# consolidated_df.to_csv('C:/Users/Manych/projects/persnl/Project_7_data_extra/consolidated_df.csv')

In [3]:
# all_dfs_names = [x for x in os.listdir('C:/Users/Manych/projects/persnl/Project_7_data_extra') if '.csv' in x]
all_dfs_names = [x for x in os.listdir('./Preproject_7_data') if '.csv' in x]

# Получение серий со спискоми колонок каждого датафрейма, рколичества наблюдений в каждом датафрейме и с самими датафремами

In [4]:
# '''
dfs_columns = pd.Series()
dfs_counts = pd.Series()
all_dfs =  pd.Series()

for df_name in  all_dfs_names:
    print(df_name,end=' ')
    try:
#         df = pd.read_csv('C:/Users/Manych/projects/persnl/Project_7_data_extra/' + df_name,low_memory=False)
        df = pd.read_csv('./Preproject_7_data/' + df_name,low_memory=False)

    except:
#         df = pd.read_csv('C:/Users/Manych/projects/persnl/Project_7_data_extra/' + df_name,sep='\t',low_memory=False)
        df = pd.read_csv('./Preproject_7_data/' + df_name,sep='\t',low_memory=False)
    
    dfs_columns = dfs_columns.append(pd.Series([list(df.columns)],index=[df_name]))
    dfs_counts = dfs_counts.append(pd.Series([len(df)],index=[df_name]))
    all_dfs = all_dfs.append(pd.Series([df],index=[df_name]));
#     print(df.columnsumns)
# '''

all_auto_ru_09_09_2020.csv all_auto_ru_14_11_2020.csv all_car_27_08_2021_data_12_brands.csv cars_df_big.csv cars_df_small.csv consolidated_df.csv data1.csv parsing_auto_ru.csv train.csv train_df_full_part1.csv

# Общие для всех  датафреймов колонки, и остальные(необщий)

In [5]:
# '''
common_columns = reduce(lambda x,y: set(x)&set(y), dfs_columns)
not_common_columns = dfs_columns.apply(lambda x: set(x) - common_columns )
[print (sorted(x)) for x in not_common_columns];
# common_columns
# not_common_columns
# '''

['hidden', 'model', 'modelDate', 'numberOfDoors', 'start_date', 'vehicleConfiguration', 'Владение', 'Комплектация', 'Состояние', 'Таможня']
['complectation_dict', 'equipment_dict', 'image', 'modelDate', 'model_info', 'model_name', 'numberOfDoors', 'priceCurrency', 'price_EUR', 'price_USD', 'sell_id', 'start_date', 'super_gen', 'vehicleConfiguration', 'vendor', 'Владение', 'Состояние', 'Таможня']
['Unnamed: 0', 'car_url', 'complectation_dict', 'date_added', 'equipment_dict', 'image', 'modelDate', 'model_name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency', 'region', 'sell_id', 'super_gen', 'vehicleConfiguration', 'views', 'Владение', 'Состояние', 'Таможня']
['car_url', 'equipmentGroups', 'image', 'modelDate', 'model_name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency', 'sell_id', 'vehicleConfiguration', 'Состояние', 'Таможня']
['car_url', 'equipmentGroups', 'image', 'modelDate', 'model_name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency', 'sell_id', 'vehicleConfiguration', 'Состояние', 'Таможня']
['Unnamed: 0', 'car_url', 'card', 'card_type', 'confDict', 'datetime', 'dealerName', 'engine', 'equipment_dict', 'image', 'model_name', 'model_name2', 'model_name_full', 'nview', 'parsing_unixtime', 'public_date', 'region', 'sell_id', 'sellerName', 'Состояние', 'Таможня']
['car_url', 'complectation_dict', 'equipment_dict', 'image', 'is_train', 'modelDate', 'model_info', 'model_name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency', 'sell_id', 'super_gen', 'vehicleConfiguration', 'vendor', 'Владение', 'Состояние', 'Таможня']
['car_url', 'complectation_dict', 'equipment_dict', 'image', 'modelDate', 'model_info', 'model_name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency', 'sell_id', 'super_gen', 'vehicleConfiguration', 'vendor', 'Владение', 'Состояние', 'Таможня']
['complectation_dict', 'equipment_dict', 'id', 'modelDate', 'model_info', 'model_name', 'numberOfDoors', 'priceCurrency', 'sell_id', 'super_gen', 'vehicleConfiguration', 'vendor']
['car_url', 'complectation_dict', 'date_added', 'equipment_dict', 'image', 'modelDate', 'model_info', 'model_name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency', 'region', 'sell_id', 'super_gen', 'vehicleConfiguration', 'vendor', 'views', 'Владение', 'Состояние', 'Таможня']

In [6]:
total_dfs_columns = pd.Series(dfs_columns.sum()).value_counts()

In [7]:
total_dfs_columns[:20]

fuelType               10
vehicleTransmission    10
color                  10
Руль                   10
bodyType               10
enginePower            10
mileage                10
Привод                 10
engineDisplacement     10
name                   10
description            10
productionDate         10
ПТС                    10
brand                  10
price                  10
Владельцы              10
Таможня                 9
sell_id                 9
numberOfDoors           9
Состояние               9
dtype: int64

# Взвешенные по количеству наблюдений колонки

In [8]:
weighted_columns = dfs_counts*dfs_columns
total_weighted_columns = pd.Series(weighted_columns.sum()).value_counts()

In [9]:
total_weighted_columns[:20]

engineDisplacement     1139446
Владельцы              1139446
brand                  1139446
description            1139446
mileage                1139446
productionDate         1139446
price                  1139446
color                  1139446
vehicleTransmission    1139446
ПТС                    1139446
Привод                 1139446
Руль                   1139446
bodyType               1139446
enginePower            1139446
name                   1139446
fuelType               1139446
sell_id                1050068
model_name             1050068
equipment_dict          981588
Состояние               972048
dtype: int64

In [10]:
# [print (sorted(x)) for x in not_common_columns]

# ===================all_dfs_getting===============================

In [11]:
all_dfs =  pd.Series()

for df_name in  all_dfs_names:
    print(df_name,end=' ')
    try:
        df = pd.read_csv('./Preproject_7_data/' + df_name,low_memory=False)
    except:
        df = pd.read_csv('./Preproject_7_data/' + df_name,sep='\t',low_memory=False)
        
    all_dfs = all_dfs.append(pd.Series([df],index=[df_name]))

all_auto_ru_09_09_2020.csv all_auto_ru_14_11_2020.csv all_car_27_08_2021_data_12_brands.csv cars_df_big.csv cars_df_small.csv consolidated_df.csv data1.csv parsing_auto_ru.csv train.csv train_df_full_part1.csv

In [12]:
for df_name,df in zip(all_dfs.index,all_dfs):
    try:
        print(df[df.brand=='MERCEDES'].price.mean(),
              df_name)
    except: 
        print(df[df.brand=='MERCEDES'].price.apply(lambda x: int(''.join(re.findall("\d+", x))) if type(x)==str else np.NaN).mean(),
              df_name)

3526259.7003383883 all_auto_ru_09_09_2020.csv
4879901.107416625 all_auto_ru_14_11_2020.csv
6093548.989583893 all_car_27_08_2021_data_12_brands.csv
3435923.9598136283 cars_df_big.csv
3435923.9598136283 cars_df_small.csv
nan consolidated_df.csv
2385619.3733265977 data1.csv
2306780.622999633 parsing_auto_ru.csv
4509805.734230299 train.csv
5869825.628195463 train_df_full_part1.csv

# =============== dfs columns study ===========================

# =============== brends study ===============================

In [13]:
for df_name,df in zip(all_dfs[1:].index,all_dfs[1:]):
        print(df.brand.unique(),
              df_name)

['AUDI' 'BMW' 'CADILLAC' 'CHERY' 'CHEVROLET' 'CHRYSLER' 'CITROEN' 'DAEWOO'
 'DODGE' 'FORD' 'GEELY' 'HONDA' 'HYUNDAI' 'INFINITI' 'JAGUAR' 'JEEP' 'KIA'
 'LEXUS' 'MAZDA' 'MINI' 'MITSUBISHI' 'NISSAN' 'OPEL' 'PEUGEOT' 'PORSCHE'
 'RENAULT' 'SKODA' 'SUBARU' 'SUZUKI' 'TOYOTA' 'VOLKSWAGEN' 'VOLVO'
 'GREAT_WALL' 'LAND_ROVER' 'MERCEDES' 'SSANG_YONG'] all_auto_ru_14_11_2020.csv
['SKODA' 'AUDI' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES' 'TOYOTA'
 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI' 'HONDA'] all_car_27_08_2021_data_12_brands.csv
['SKODA' 'AUDI' 'HONDA' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES'
 'TOYOTA' 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI'] cars_df_big.csv
['SKODA' 'AUDI' 'HONDA' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES'
 'TOYOTA' 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI'] cars_df_small.csv
['Audi' 'BMW' 'Chery' nan 'Citroen' 'Ford' 'ГАЗ' 'Geely' 'Haval' 'Honda'
 'Hyundai' 'Infiniti' 'Kia' 'Land Rover' 'Lexus' 'Lifan' 'Mazda'
 'Mercedes-Benz' 'Mitsubishi' 'Nissan' 'Opel' 'Peugeot' 'Porsche'
 'Renault' 'Skoda' 'Subaru' 'Suzuki' 'Toyota' 'LADA (ВАЗ)' 'Volvo'] consolidated_df.csv
['SKODA' 'AUDI' 'HONDA' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES'
 'TOYOTA' 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI'] data1.csv
['AUDI' 'TOYOTA' 'VOLKSWAGEN' 'NISSAN' 'MERCEDES' 'LEXUS' 'SKODA' 'HONDA'
 'VOLVO' 'MITSUBISHI' 'BMW' 'INFINITI'] parsing_auto_ru.csv
['AUDI' 'BMW' 'CADILLAC' 'CHANGAN' 'CHERY' 'CHEVROLET' 'CHRYSLER'
 'CITROEN' 'DAEWOO' 'DAIHATSU' 'DATSUN' 'DODGE' 'FIAT' 'FORD' 'GEELY'
 'HAVAL' 'HONDA' 'HYUNDAI' 'INFINITI' 'JAGUAR' 'JEEP' 'KIA' 'LEXUS'
 'LIFAN' 'MINI' 'MAZDA' 'MITSUBISHI' 'NISSAN' 'OPEL' 'PEUGEOT' 'PORSCHE'
 'RENAULT' 'SKODA' 'SUBARU' 'SUZUKI' 'TOYOTA' 'VOLKSWAGEN' 'VOLVO'
 'VORTEX' 'GREAT_WALL' 'LAND_ROVER' 'MERCEDES' 'SSANG_YONG'] train.csv
['SKODA' nan 'AUDI' 'HONDA' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES'
 'TOYOTA' 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI'] train_df_full_part1.csv

# =============== models study ===============================

In [14]:
brand = 'BMW'

In [15]:
brand_models=pd.Series()   

for df_name,df in zip(all_dfs[1:].index,all_dfs[1:]):
    brand_models = brand_models.append(pd.Series([df[df.brand==brand].model_name.value_counts()],
                                                 index=[df_name]))
#     print(df[df.brand==brand].model_name.value_counts())

In [60]:
all_dfs[1][all_dfs[1].brand == 'BMW'].model_name.map(models_0)

3642         02
3643    1 серии
3644    1 серии
3645    1 серии
3646    1 серии
         ...
9752         Z4
9753         Z4
9754         Z4
9755         Z4
9756         Z4
Name: model_name, Length: 6115, dtype: object

In [17]:
brand_models.iloc[1]

X5                     1968
5 серии                1457
1 серии                1433
X1                     1294
X4                     1228
X6                     1143
3 серии                1051
X3                      779
X5 M                    432
X6 M                    412
M5                      359
6 серии                 358
2 серии Gran Tourer     202
7 серии                 138
Z4                      113
X2                        8
2 серии                   2
8 серии                   2
Name: model_name, dtype: int64

### распределения цены по моделям

## 0

In [69]:
models_0 = {'3ER': '3 серии','5ER': '5 серии','X5': 'X5','X6': 'X6','X3': 'X3','7ER': '7 серии',
 'X1': 'X1','X7': 'X7','1ER': '1 серии','X4': 'X4','X6_M': 'X6 M','6ER': '6 серии',
 '2ER': '2 серии','X5_M': 'X5 M','4': '4 серии','8ER': '8 серии','M5': 'M5','X2': 'X2',
 'I3': 'I3 ','Z4': 'Z4','M3': 'M3','M6': 'M6','M2': 'M2','M4': 'M4',
 '2GRANDTOURER': '2 серии Gran Tourer','I8': 'I8','M8': 'M8','321': '321',
 '2ACTIVETOURER': '2 серии Active Tourer','Z3M': 'Z3 M','X3_M': 'X3 M','326': '326',
 '02': '02','340': '340','E3': 'E3','Z1': 'Z1','Z3': 'Z3'}

In [50]:
# brand_models.iloc[0]
# [print("'" + x + "': ''") for x in brand_models.iloc[0].index];
# [print(x) for x in brand_models.iloc[1].index];

In [76]:
# brand_models.iloc[0]

## 1

In [19]:
brand_models.iloc[1]

X5                     1968
5 серии                1457
1 серии                1433
X1                     1294
X4                     1228
X6                     1143
3 серии                1051
X3                      779
X5 M                    432
X6 M                    412
M5                      359
6 серии                 358
2 серии Gran Tourer     202
7 серии                 138
Z4                      113
X2                        8
2 серии                   2
8 серии                   2
Name: model_name, dtype: int64

## 2

In [22]:
brand_models.iloc[2]

BMW X5 30d III (F15)                                               74
BMW X6 30d II (F16)                                                71
BMW 5 серии 520d xDrive VII (G30/G31)                              58
BMW X6 35i I (E71)                                                 50
BMW 5 серии 530d xDrive VII (G30/G31)                              47
                                                                   ..
BMW 7 серии 728i I (E23)                                            1
BMW 3 серии 335i xDrive V (E90/E91/E92/E93) Рестайлинг              1
BMW 6 серии Gran Turismo 630i IV (G32) Рестайлинг                   1
BMW 6 серии Gran Coupe 640i xDrive III (F06/F13/F12) Рестайлинг     1
BMW 6 серии Gran Coupe 640i III (F06/F13/F12)                       1
Name: model_name, Length: 481, dtype: int64

In [23]:
brand_models.iloc[2].index.map(lambda x: x.split(' ')[1])

Index(['X5', 'X6', '5', 'X6', '5', 'X5', '5', '5', 'X5', '3',
       ...
       '5', '5', 'X6', '3', '4', '7', '3', '6', '6', '6'],
      dtype='object', length=481)

In [24]:
# pd.Series(brand_models.iloc[2].index.map(lambda x: x.split(' ')[1])).unique()

# tmp = ['X5', 'X6', '5', '3', 'X3', 'X7', '1', 'X4', 'X1', '7', '6', '8',
#        'M5', '4', 'X2', '2', 'i3', 'M3', 'M4', 'Z4', 'M2', '321', 'M6',
#        '340', '502', 'Z1', 'M8', 'Z3', '600', '2000']
# [print("'" + x + "': '" + x + "'") for x in tmp];

array(['X5', 'X6', '5', '3', 'X3', 'X7', '1', 'X4', 'X1', '7', '6', '8',
       'M5', '4', 'X2', '2', 'i3', 'M3', 'M4', 'Z4', 'M2', '321', 'M6',
       '340', '502', 'Z1', 'M8', 'Z3', '600', '2000'], dtype=object)

In [77]:
models_2 = {'X5': 'X5','X6': 'X6','5': '5 серии','3': '3 серии','X3': 'X3','X7': 'X7','1': '1 серии',
 'X4': 'X4','X1': 'X1','7': '7 серии','6': '6 серии','8': '8 серии','M5': 'M5','4': '4 серии',
 'X2': 'X2','2': '2 серии','i3': 'I3','M3': 'M3','M4': 'M4','Z4': 'Z4','M2': 'M2','321': '321',
 'M6': 'M6','340': '340','502': '502','Z1': 'Z1','M8': 'M8','Z3': 'Z3','600': '600','2000': '2000'}

## 3

In [25]:
brand_models.iloc[3]

BMW X5 30d III (F15)                                               74
BMW X6 30d II (F16)                                                71
BMW 5 серии 520d xDrive VII (G30/G31)                              58
BMW X6 35i I (E71)                                                 50
BMW 5 серии 530d xDrive VII (G30/G31)                              47
                                                                   ..
BMW 7 серии 728i I (E23)                                            1
BMW 3 серии 335i xDrive V (E90/E91/E92/E93) Рестайлинг              1
BMW 6 серии Gran Turismo 630i IV (G32) Рестайлинг                   1
BMW 6 серии Gran Coupe 640i xDrive III (F06/F13/F12) Рестайлинг     1
BMW 6 серии Gran Coupe 640i III (F06/F13/F12)                       1
Name: model_name, Length: 481, dtype: int64

## 4

In [26]:
brand_models.iloc[4]

5 серии                  2548
3 серии                  2490
X5                       2200
7 серии                  1204
X3                       1189
X6                       1099
X1                        694
1 серии                   496
X4                        413
6 серии                   312
4 серии                   218
X5 M                      184
X6 M                      143
X2                        139
8 серии                   138
M5                        136
2 серии                   124
2 серии Gran Tourer       115
X7                        102
M4                        100
i8                        100
Z3                         95
i3                         51
Z4                         22
M6                         19
M3                         17
2 серии Active Tourer      11
M2                          9
X3 M                        1
X4 M                        1
Name: model_name, dtype: int64

## 5

In [27]:
brand_models.iloc[5]

X5                       1213
5ER                      1026
3ER                       752
3 СЕРИИ                   720
5 СЕРИИ                   631
X6                        592
X3                        568
X1                        396
7ER                       343
7 СЕРИИ                   255
X4                        228
1ER                       218
1 СЕРИИ                   135
6ER                       122
X7                        121
6 СЕРИИ                    93
X6 M                       85
X6_M                       78
M5                         72
4                          66
2 СЕРИИ                    64
4 СЕРИИ                    54
X5 M                       51
X5_M                       50
X2                         34
8 СЕРИИ                    32
I3                         32
Z4                         32
M3                         27
8ER                        22
M6                         17
2ER                        11
M4                          8
Z3                          6
M2                          5
321                         5
2ACTIVETOURER               4
2GRANDTOURER                3
E3                          3
2 СЕРИИ GRAND TOURER        3
340                         3
I8                          3
M8                          3
X3_M                        3
X4_M                        2
326                         2
Z1                          2
2 СЕРИИ ACTIVE TOURER       2
Z3M                         1
02                          1
02 (E10)                    1
X3 M                        1
M1                          1
Z3 M                        1
Name: model_name, dtype: int64

## 6

In [28]:
brand_models.iloc[6]

5ER              3051
3ER              2248
X5               1926
X6               1058
X3                995
7ER               903
X1                535
1ER               467
6ER               297
X4                290
4                 160
X6_M              150
X7                124
I3                107
X5_M              105
M5                 70
8ER                43
2ER                42
X2                 41
Z4                 39
M4                 29
M3                 27
2GRANDTOURER       26
M6                 25
M2                 23
340                14
321                12
Z3                  9
2ACTIVETOURER       7
M8                  5
X4_M                5
Z3M                 3
I8                  3
326                 2
Z1                  2
2000_C_CS           1
502                 1
600                 1
X3_M                1
Name: model_name, dtype: int64

## 7

In [29]:
brand_models.iloc[7]

5ER              981
3ER              955
X5               798
X3               665
X6               618
X1               408
7ER              298
X4               206
1ER              185
X7               184
6ER              103
X2                98
2ER               79
4                 65
X5_M              62
X6_M              59
8ER               52
M5                36
I3                25
M2                12
I8                10
M3                10
2GRANDTOURER      10
Z4                 8
M4                 8
M6                 7
2ACTIVETOURER      6
X3_M               4
M8                 3
2000_C_CS          2
02                 2
Name: model_name, dtype: int64

## 8

In [30]:
brand_models.iloc[8]

5 серии                  2337
X3                       1343
3 серии                  1339
X1                       1074
X5                        861
7 серии                   795
X6                        731
6 серии                   674
X4                        418
X7                        358
i3                        325
8 серии                   325
2 серии                   319
M2                        306
M5                        286
X5 M                      127
1 серии                    95
4 серии                    66
X6 M                       52
X2                         25
M4                         11
M6                          7
2 серии Gran Tourer         7
Z4                          7
M3                          6
2 серии Active Tourer       4
M8                          2
Z3                          1
i8                          1
X4 M                        1
Name: model_name, dtype: int64

In [45]:
for df_name,df in zip(all_dfs[3:4].index,all_dfs[3:4]):
        print(
            df[df.brand==brand].model_name.value_counts()
              )

BMW X5 30d III (F15)                                     74
BMW X6 30d II (F16)                                      71
BMW 5 серии 520d xDrive VII (G30/G31)                    58
BMW X6 35i I (E71)                                       50
BMW 5 серии 530d xDrive VII (G30/G31)                    47
                                                         ..
BMW 5 серии 535i IV (E39) Рестайлинг                      1
BMW 4 серии 420i G22, G23                                 1
BMW X1 25i I (E84)                                        1
BMW M8 Gran Coupe Competition I (F91/F92/F93)             1
BMW 7 серии Long 750Li xDrive VI (G11/G12) Рестайлинг     1
Name: model_name, Length: 481, dtype: int64

# =============== test study ==================================

In [4]:
 test = pd.read_csv('./Project_7_data/test.csv')

In [6]:
test.columns

Index(['bodyType', 'brand', 'car_url', 'color', 'complectation_dict',
       'description', 'engineDisplacement', 'enginePower', 'equipment_dict',
       'fuelType', 'image', 'mileage', 'modelDate', 'model_info', 'model_name',
       'name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency',
       'productionDate', 'sell_id', 'super_gen', 'vehicleConfiguration',
       'vehicleTransmission', 'vendor', 'Владельцы', 'Владение', 'ПТС',
       'Привод', 'Руль', 'Состояние', 'Таможня'],
      dtype='object')

In [15]:
nun_count = test.isna().sum()
nun_count[nun_count>0]

complectation_dict    28268
equipment_dict         9996
Владение              22691
ПТС                       1
dtype: int64

# ====================== ПОДВАЛ =============================

Если печать идёт как в ДОСе (текст отсылается в устройство PRN), то перевод строки обеспечивается управляющим символом с ASCII-кодом 12 ♀.
При печати через PCL/PS - напечатается изображение символа. Так что, всё зависит от того, как работает с текстом проприетарное ПО...
Если идёт печать через PCL/PS, то "спрятать" в тексте команду перевода страницы не получится, эту команду должно подавать само ПО.