In [16]:
import pandas as pd
import os
import warnings
import numpy as np
import re

from functools import reduce

warnings.filterwarnings("ignore")

# =============================================================

In [3]:
# обьединение данных по каждом бренду в один DataFrame
# by_brend_dir = os.listdir('C:/Users/Manych/projects/persnl/Project_7_data_extra/by_brend')

# to_concat = []
# for brand in by_brend_dir:
#     try: 
#         brand_df = pd.read_csv(
#             'C:/Users/Manych/projects/persnl/Project_7_data_extra/by_brend/' + brand,sep=',',low_memory=False)
#     except:
#         brand_df = pd.read_csv(
#             'C:/Users/Manych/projects/persnl/Project_7_data_extra/by_brend/' + brand,sep=';',low_memory=False)
#     to_concat.append(brand_df)

# consolidated_df = pd.concat(to_concat)

# consolidated_df.to_csv('C:/Users/Manych/projects/persnl/Project_7_data_extra/consolidated_df.csv')

In [17]:
# all_dfs_names = [x for x in os.listdir('C:/Users/Manych/projects/persnl/Project_7_data_extra') if '.csv' in x]
all_dfs_names = [x for x in os.listdir('./Preproject_7_data') if '.csv' in x]

In [20]:
# '''
dfs_columns = pd.Series()
dfs_counts = pd.Series()
all_dfs =  pd.Series()

for df_name in  all_dfs_names:
    print(df_name,end=' ')
    try:
#         df = pd.read_csv('C:/Users/Manych/projects/persnl/Project_7_data_extra/' + df_name,low_memory=False)
        df = pd.read_csv('./Preproject_7_data/' + df_name,low_memory=False)

    except:
#         df = pd.read_csv('C:/Users/Manych/projects/persnl/Project_7_data_extra/' + df_name,sep='\t',low_memory=False)
        df = pd.read_csv('./Preproject_7_data/' + df_name,sep='\t',low_memory=False)
    
    dfs_columns = dfs_columns.append(pd.Series([list(df.columns)],index=[df_name]))
    dfs_counts = dfs_counts.append(pd.Series([len(df)],index=[df_name]))
    all_dfs = all_dfs.append(pd.Series([df],index=[df_name]));
#     print(df.columnsumns)
# '''

all_auto_ru_09_09_2020.csv all_auto_ru_14_11_2020.csv all_car_27_08_2021_data_12_brands.csv cars_df_big.csv cars_df_small.csv consolidated_df.csv data1.csv parsing_auto_ru.csv train.csv train_df_full_part1.csv

In [21]:
# '''
common_columns = reduce(lambda x,y: set(x)&set(y), dfs_columns)
not_common_columns = dfs_columns.apply(lambda x: set(x) - common_columns )
[print (sorted(x)) for x in not_common_columns];
# common_columns
# not_common_columns
# '''

['hidden', 'model', 'modelDate', 'numberOfDoors', 'start_date', 'vehicleConfiguration', 'Владение', 'Комплектация', 'Состояние', 'Таможня']
['complectation_dict', 'equipment_dict', 'image', 'modelDate', 'model_info', 'model_name', 'numberOfDoors', 'priceCurrency', 'price_EUR', 'price_USD', 'sell_id', 'start_date', 'super_gen', 'vehicleConfiguration', 'vendor', 'Владение', 'Состояние', 'Таможня']
['Unnamed: 0', 'car_url', 'complectation_dict', 'date_added', 'equipment_dict', 'image', 'modelDate', 'model_name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency', 'region', 'sell_id', 'super_gen', 'vehicleConfiguration', 'views', 'Владение', 'Состояние', 'Таможня']
['car_url', 'equipmentGroups', 'image', 'modelDate', 'model_name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency', 'sell_id', 'vehicleConfiguration', 'Состояние', 'Таможня']
['car_url', 'equipmentGroups', 'image', 'modelDate', 'model_name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency', 'sell_id', 'vehicleConfiguration', 'Состояние', 'Таможня']
['Unnamed: 0', 'car_url', 'card', 'card_type', 'confDict', 'datetime', 'dealerName', 'engine', 'equipment_dict', 'image', 'model_name', 'model_name2', 'model_name_full', 'nview', 'parsing_unixtime', 'public_date', 'region', 'sell_id', 'sellerName', 'Состояние', 'Таможня']
['car_url', 'complectation_dict', 'equipment_dict', 'image', 'is_train', 'modelDate', 'model_info', 'model_name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency', 'sell_id', 'super_gen', 'vehicleConfiguration', 'vendor', 'Владение', 'Состояние', 'Таможня']
['car_url', 'complectation_dict', 'equipment_dict', 'image', 'modelDate', 'model_info', 'model_name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency', 'sell_id', 'super_gen', 'vehicleConfiguration', 'vendor', 'Владение', 'Состояние', 'Таможня']
['complectation_dict', 'equipment_dict', 'id', 'modelDate', 'model_info', 'model_name', 'numberOfDoors', 'priceCurrency', 'sell_id', 'super_gen', 'vehicleConfiguration', 'vendor']
['car_url', 'complectation_dict', 'date_added', 'equipment_dict', 'image', 'modelDate', 'model_info', 'model_name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency', 'region', 'sell_id', 'super_gen', 'vehicleConfiguration', 'vendor', 'views', 'Владение', 'Состояние', 'Таможня']

In [26]:
total_dfs_columns = pd.Series(dfs_columns.sum()).value_counts()

In [28]:
total_dfs_columns[:20]

fuelType                10
Руль                    10
color                   10
vehicleTransmission     10
description             10
price                   10
bodyType                10
Привод                  10
name                    10
engineDisplacement      10
ПТС                     10
enginePower             10
Владельцы               10
productionDate          10
brand                   10
mileage                 10
Таможня                  9
modelDate                9
numberOfDoors            9
vehicleConfiguration     9
dtype: int64

In [24]:
weighted_columns = dfs_counts*dfs_columns
total_weighted_columns = pd.Series(weighted_columns.sum()).value_counts()

In [29]:
total_weighted_columns[:20]

bodyType               1139446
Руль                   1139446
brand                  1139446
enginePower            1139446
ПТС                    1139446
description            1139446
productionDate         1139446
Владельцы              1139446
vehicleTransmission    1139446
mileage                1139446
price                  1139446
name                   1139446
engineDisplacement     1139446
color                  1139446
fuelType               1139446
Привод                 1139446
sell_id                1050068
model_name             1050068
equipment_dict          981588
Таможня                 972048
dtype: int64

In [10]:
# [print (sorted(x)) for x in not_common_columns]

# ===================all_dfs_getting===============================

In [11]:
all_dfs =  pd.Series()

for df_name in  all_dfs_names:
    print(df_name,end=' ')
    try:
        df = pd.read_csv('./Preproject_7_data/' + df_name,low_memory=False)
    except:
        df = pd.read_csv('./Preproject_7_data/' + df_name,sep='\t',low_memory=False)
        
    all_dfs = all_dfs.append(pd.Series([df],index=[df_name]))

all_auto_ru_09_09_2020.csv all_auto_ru_14_11_2020.csv all_car_27_08_2021_data_12_brands.csv cars_df_big.csv cars_df_small.csv consolidated_df.csv data1.csv parsing_auto_ru.csv train.csv train_df_full_part1.csv

In [102]:
for df_name,df in zip(all_dfs.index,all_dfs):
    try:
        print(df[df.brand=='MERCEDES'].price.mean(),
              df_name)
    except: 
        print(df[df.brand=='MERCEDES'].price.apply(lambda x: int(''.join(re.findall("\d+", x))) if type(x)==str else np.NaN).mean(),
              df_name)

3526259.7003383883 all_auto_ru_09_09_2020.csv
4879901.107416625 all_auto_ru_14_11_2020.csv
6093548.989583893 all_car_27_08_2021_data_12_brands.csv
3435923.9598136283 cars_df_big.csv
3435923.9598136283 cars_df_small.csv
nan consolidated_df.csv
2385619.3733265977 data1.csv
2306780.622999633 parsing_auto_ru.csv
4509805.734230299 train.csv
5869825.628195463 train_df_full_part1.csv

['AUDI' 'BMW' 'CADILLAC' 'CHERY' 'CHEVROLET' 'CHRYSLER' 'CITROEN' 'DAEWOO'
 'DODGE' 'FORD' 'GEELY' 'HONDA' 'HYUNDAI' 'INFINITI' 'JAGUAR' 'JEEP' 'KIA'
 'LEXUS' 'MAZDA' 'MINI' 'MITSUBISHI' 'NISSAN' 'OPEL' 'PEUGEOT' 'PORSCHE'
 'RENAULT' 'SKODA' 'SUBARU' 'SUZUKI' 'TOYOTA' 'VOLKSWAGEN' 'VOLVO'
 'GREAT_WALL' 'LAND_ROVER' 'MERCEDES' 'SSANG_YONG'] all_auto_ru_09_09_2020.csv
['AUDI' 'BMW' 'CADILLAC' 'CHERY' 'CHEVROLET' 'CHRYSLER' 'CITROEN' 'DAEWOO'
 'DODGE' 'FORD' 'GEELY' 'HONDA' 'HYUNDAI' 'INFINITI' 'JAGUAR' 'JEEP' 'KIA'
 'LEXUS' 'MAZDA' 'MINI' 'MITSUBISHI' 'NISSAN' 'OPEL' 'PEUGEOT' 'PORSCHE'
 'RENAULT' 'SKODA' 'SUBARU' 'SUZUKI' 'TOYOTA' 'VOLKSWAGEN' 'VOLVO'
 'GREAT_WALL' 'LAND_ROVER' 'MERCEDES' 'SSANG_YONG'] all_auto_ru_14_11_2020.csv
['SKODA' 'AUDI' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES' 'TOYOTA'
 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI' 'HONDA'] all_car_27_08_2021_data_12_brands.csv
['SKODA' 'AUDI' 'HONDA' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES'
 'TOYOTA' 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI'] cars_df_big.csv
['SKODA' 'AUDI' 'HONDA' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES'
 'TOYOTA' 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI'] cars_df_small.csv
['Audi' 'BMW' 'Chery' nan 'Citroen' 'Ford' 'ГАЗ' 'Geely' 'Haval' 'Honda'
 'Hyundai' 'Infiniti' 'Kia' 'Land Rover' 'Lexus' 'Lifan' 'Mazda'
 'Mercedes-Benz' 'Mitsubishi' 'Nissan' 'Opel' 'Peugeot' 'Porsche'
 'Renault' 'Skoda' 'Subaru' 'Suzuki' 'Toyota' 'LADA (ВАЗ)' 'Volvo'] consolidated_df.csv
['SKODA' 'AUDI' 'HONDA' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES'
 'TOYOTA' 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI'] data1.csv
['AUDI' 'TOYOTA' 'VOLKSWAGEN' 'NISSAN' 'MERCEDES' 'LEXUS' 'SKODA' 'HONDA'
 'VOLVO' 'MITSUBISHI' 'BMW' 'INFINITI'] parsing_auto_ru.csv
['AUDI' 'BMW' 'CADILLAC' 'CHANGAN' 'CHERY' 'CHEVROLET' 'CHRYSLER'
 'CITROEN' 'DAEWOO' 'DAIHATSU' 'DATSUN' 'DODGE' 'FIAT' 'FORD' 'GEELY'
 'HAVAL' 'HONDA' 'HYUNDAI' 'INFINITI' 'JAGUAR' 'JEEP' 'KIA' 'LEXUS'
 'LIFAN' 'MINI' 'MAZDA' 'MITSUBISHI' 'NISSAN' 'OPEL' 'PEUGEOT' 'PORSCHE'
 'RENAULT' 'SKODA' 'SUBARU' 'SUZUKI' 'TOYOTA' 'VOLKSWAGEN' 'VOLVO'
 'VORTEX' 'GREAT_WALL' 'LAND_ROVER' 'MERCEDES' 'SSANG_YONG'] train.csv
['SKODA' nan 'AUDI' 'HONDA' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES'
 'TOYOTA' 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI'] train_df_full_part1.csv

# =============== dfs columns study ===========================

# =============== brends study ===============================

In [39]:
for df_name,df in zip(all_dfs[1:].index,all_dfs[1:]):
        print(df.brand.unique(),
              df_name)

['AUDI' 'BMW' 'CADILLAC' 'CHERY' 'CHEVROLET' 'CHRYSLER' 'CITROEN' 'DAEWOO'
 'DODGE' 'FORD' 'GEELY' 'HONDA' 'HYUNDAI' 'INFINITI' 'JAGUAR' 'JEEP' 'KIA'
 'LEXUS' 'MAZDA' 'MINI' 'MITSUBISHI' 'NISSAN' 'OPEL' 'PEUGEOT' 'PORSCHE'
 'RENAULT' 'SKODA' 'SUBARU' 'SUZUKI' 'TOYOTA' 'VOLKSWAGEN' 'VOLVO'
 'GREAT_WALL' 'LAND_ROVER' 'MERCEDES' 'SSANG_YONG'] all_auto_ru_14_11_2020.csv
['SKODA' 'AUDI' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES' 'TOYOTA'
 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI' 'HONDA'] all_car_27_08_2021_data_12_brands.csv
['SKODA' 'AUDI' 'HONDA' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES'
 'TOYOTA' 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI'] cars_df_big.csv
['SKODA' 'AUDI' 'HONDA' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES'
 'TOYOTA' 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI'] cars_df_small.csv
['Audi' 'BMW' 'Chery' nan 'Citroen' 'Ford' 'ГАЗ' 'Geely' 'Haval' 'Honda'
 'Hyundai' 'Infiniti' 'Kia' 'Land Rover' 'Lexus' 'Lifan' 'Mazda'
 'Mercedes-Benz' 'Mitsubishi' 'Nissan' 'Opel' 'Peugeot' 'Porsche'
 'Renault' 'Skoda' 'Subaru' 'Suzuki' 'Toyota' 'LADA (ВАЗ)' 'Volvo'] consolidated_df.csv
['SKODA' 'AUDI' 'HONDA' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES'
 'TOYOTA' 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI'] data1.csv
['AUDI' 'TOYOTA' 'VOLKSWAGEN' 'NISSAN' 'MERCEDES' 'LEXUS' 'SKODA' 'HONDA'
 'VOLVO' 'MITSUBISHI' 'BMW' 'INFINITI'] parsing_auto_ru.csv
['AUDI' 'BMW' 'CADILLAC' 'CHANGAN' 'CHERY' 'CHEVROLET' 'CHRYSLER'
 'CITROEN' 'DAEWOO' 'DAIHATSU' 'DATSUN' 'DODGE' 'FIAT' 'FORD' 'GEELY'
 'HAVAL' 'HONDA' 'HYUNDAI' 'INFINITI' 'JAGUAR' 'JEEP' 'KIA' 'LEXUS'
 'LIFAN' 'MINI' 'MAZDA' 'MITSUBISHI' 'NISSAN' 'OPEL' 'PEUGEOT' 'PORSCHE'
 'RENAULT' 'SKODA' 'SUBARU' 'SUZUKI' 'TOYOTA' 'VOLKSWAGEN' 'VOLVO'
 'VORTEX' 'GREAT_WALL' 'LAND_ROVER' 'MERCEDES' 'SSANG_YONG'] train.csv
['SKODA' nan 'AUDI' 'HONDA' 'VOLVO' 'BMW' 'NISSAN' 'INFINITI' 'MERCEDES'
 'TOYOTA' 'LEXUS' 'VOLKSWAGEN' 'MITSUBISHI'] train_df_full_part1.csv

# =============== models study ===============================

In [37]:
brand = 'BMW'

In [51]:
brand_models=pd.Series()   

for df_name,df in zip(all_dfs[1:2].index,all_dfs[1:2]):
    brand_models = brand_models.append(pd.Series([df[df.brand==brand].model_name.value_counts()],
                                                 index=[df_name]))
#     print(df[df.brand==brand].model_name.value_counts())

In [54]:
brand_models['all_auto_ru_14_11_2020.csv']

3ER              1229
5ER               943
X5                849
X6                571
X3                569
7ER               385
X1                271
X7                215
1ER               199
X4                165
X6_M              134
6ER               118
2ER               100
X5_M               85
4                  71
8ER                52
M5                 43
X2                 36
I3                 15
Z4                 13
M3                 10
M6                  9
M2                  7
M4                  5
M8                  3
I8                  3
2GRANDTOURER        3
321                 2
2ACTIVETOURER       2
02                  1
E3                  1
Z3M                 1
Z3                  1
Z1                  1
340                 1
326                 1
X3_M                1
Name: model_name, dtype: int64

In [45]:
for df_name,df in zip(all_dfs[3:4].index,all_dfs[3:4]):
        print(
            df[df.brand==brand].model_name.value_counts()
              )

BMW X5 30d III (F15)                                     74
BMW X6 30d II (F16)                                      71
BMW 5 серии 520d xDrive VII (G30/G31)                    58
BMW X6 35i I (E71)                                       50
BMW 5 серии 530d xDrive VII (G30/G31)                    47
                                                         ..
BMW 5 серии 535i IV (E39) Рестайлинг                      1
BMW 4 серии 420i G22, G23                                 1
BMW X1 25i I (E84)                                        1
BMW M8 Gran Coupe Competition I (F91/F92/F93)             1
BMW 7 серии Long 750Li xDrive VI (G11/G12) Рестайлинг     1
Name: model_name, Length: 481, dtype: int64

# =============== test study ==================================

In [4]:
 test = pd.read_csv('./Project_7_data/test.csv')

In [6]:
test.columns

Index(['bodyType', 'brand', 'car_url', 'color', 'complectation_dict',
       'description', 'engineDisplacement', 'enginePower', 'equipment_dict',
       'fuelType', 'image', 'mileage', 'modelDate', 'model_info', 'model_name',
       'name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency',
       'productionDate', 'sell_id', 'super_gen', 'vehicleConfiguration',
       'vehicleTransmission', 'vendor', 'Владельцы', 'Владение', 'ПТС',
       'Привод', 'Руль', 'Состояние', 'Таможня'],
      dtype='object')

In [15]:
nun_count = test.isna().sum()
nun_count[nun_count>0]

complectation_dict    28268
equipment_dict         9996
Владение              22691
ПТС                       1
dtype: int64