In [1]:
from sklearn.model_selection import train_test_split # функция, чтобы разбить данные на трейн и тест
from sklearn.linear_model import LogisticRegression # наша модель для классификации

Воспользуемся встроенным датасетом, который содержит информацию об опухолях груди:

In [2]:
from sklearn.datasets import load_breast_cancer # подгружаем датасет
breast_cancer = load_breast_cancer()

Теперь зададим зависимую и независимые переменные:

In [3]:
Y = breast_cancer.target ## Наша целевая переменная, 0 — если рака нет, 1 — если есть 
X = breast_cancer.data # X - признаки, по которым мы будем предсказывать рак

Разбиваем выборку на обучающую и тестовую и обучаем нашу модель:

In [4]:
X_train, X_val, Y_train, Y_val = train_test_split(X, Y, test_size = 0.3)
model = LogisticRegression()
model.fit(X_train, Y_train)

C:\Users\Manych\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [5]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

Y_predicted = model.predict(X_val)
print(accuracy_score(Y_val,Y_predicted))
print(precision_score(Y_val,Y_predicted))
print(recall_score(Y_val,Y_predicted))
print(f1_score(Y_val,Y_predicted))

0.9766081871345029
0.9629629629629629
1.0
0.9811320754716981

## Задание 3B.2.1
Вы создали классификатор, который разделяет экономические и политические новости на два разных Telegram-канала, и хотите проверить его качество. За день вышло 15 политических новостей и 20 экономических.
Ваш алгоритм из 15 политических новостей отметил 9 как экономические, а из 20 экономических — 6 как политические.
Найдите метрику $Accuracy$.
Ответ округлите до сотых. Пример ввода: 5.55.

In [6]:
tp, tn, fp, fn = 6, 14, 9, 6
accuracy = (tp+tn)/(tp+tn+fp+fn)
round(accuracy,2)

0.57

## Задание 3B2.2
Загрузите встроенный в библиотеку `sklearn` датасет про ирисы с помощью функции `load_iris`. Обучите модель логистической регрессии `(random_state=50, размер тестовой выборки 0.3)` и укажите полученное значение метрики $Accuracy$.
Ответ округлите до сотых. Пример ввода: 5.55.

In [7]:
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score

data = load_iris()

In [8]:
X, y = data.data, data.target
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.3,random_state=50)
model = LogisticRegression()
model.fit(X_train, y_train)

y_predicted = model.predict(X_val)
round(accuracy_score(y_val,y_predicted),2)

C:\Users\Manych\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.98

# Классификация. Практика
У вас есть датасет с параметрами мобильных телефонов. Переменная price_range отвечает за то, к какой категории относится телефон: 1 — дорогие, 0 — дешевые.  
Задача состоит в том, чтобы наиболее точно научиться классифицировать телефоны по этим двум категориям на основании других параметров.

In [52]:
import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score, precision_score

In [15]:
df = pd.read_csv("./Unit_5_data/train_mobile.csv",delimiter=';')

## Задание 3B.3.1 Отбор признаков
Выберите пять признаков, у которых наибольшая взаимосвязь с целевой переменной (с помощью корреляции).

In [41]:
feat = (df.corr() - np.eye(df.shape[1])).price_range.abs().sort_values(ascending=False)[:5].index.to_list()
feat

['ram', 'battery_power', 'px_width', 'px_height', 'touch_screen']

Теперь необходимо обучить алгоритм.  Для начала разбейте выборку на тестовую и обучающую, размер тестовой задайте `0.2`. Параметр `random_state=31`. В качестве модели возьмите логистическую регрессию. В качестве предикторов возьмите пять ранее отобранных признаков.

Рассчитайте метрику, которая покажет, какая доля телефонов, обозначенных классификатором как дорогие, действительно относится к этой категории.

## 3B.3.3 Значение метрики
Введите полученное значение, округлите до четырех знаков после запятой. Целую и десятичную часть разделите точкой. Пример ввода: 5.5555.

In [70]:
df

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,0
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,1
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,1
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,1
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,1
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,1
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,1

In [69]:
df[feat]

       ram  battery_power  px_width  px_height  touch_screen
0     2549            842       756         20             0
1     2631           1021      1988        905             1
2     2603            563      1716       1263             1
3     2769            615      1786       1216             0
4     1411           1821      1212       1208             1
...    ...            ...       ...        ...           ...
1995   668            794      1890       1222             1
1996  2032           1965      1965        915             1
1997  3057           1911      1632        868             1
1998   869           1512       670        336             1
1999  3919            510       754        483             1

[2000 rows x 5 columns]

In [81]:
X =  df[feat]
y = df.price_range.values
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=31)
classifier = LogisticRegression()
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)
ans = precision_score(y_test,y_pred) # ВАЖЕН ПОРЯДОК Y-ков!!!
round(ans,4)

0.9859

Когда мы получаем на выходе модели нули и единицы, мы можем использовать обычные метрики для классификации — $accuracy$, $f1-score$ и другие. Если мы хотим посчитать ошибку для вероятностей, которые возвращает сигмоида, можно воспользоваться $logloss$
$$\sum_{i}(-y_i^{true}log y_i^{pred}-(1-y_i^{true})log(1-y_i^{pred}))$$

## Задание 3B.5.3
Посчитайте $logloss$ для данных в таблице (без нормализации). Укажите число с точностью до сотых:

||||||
|-|-|-|-|-|
Предсказанное значение|0.2|0.8|1|0.6
Истинное значение|0|0|1|1

In [91]:
y_pred = np.array([0.2,0.8,1,0.6])
y = np.array([0,0,1,1])

In [89]:
(-y*np.log(y_pred) - (1-y)*np.log(1-y_pred))

<ipython-input-89-bd79de9f8333>:1: RuntimeWarning: divide by zero encountered in log
  (-y*np.log(y_pred) - (1-y)*np.log(1-y_pred))
<ipython-input-89-bd79de9f8333>:1: RuntimeWarning: invalid value encountered in multiply
  (-y*np.log(y_pred) - (1-y)*np.log(1-y_pred))

array([0.22314355, 1.60943791,        nan, 0.51082562])

In [97]:
from sklearn.metrics import log_loss
round(log_loss(y, y_pred,normalize=False),2)

2.34

## Задание 3B.5.4
Посчитайте $logloss$ для данных в таблице. Необходимо найти среднюю ошибку. Классификация на три класса:

|||||
|-|-|-|-|
||0.2|0|0.1|
|Предсказанное значение|0.3|0|0|
||0.5|1|0.9|
||0|0|1|
|Истинное значение|0|0|0|
||1|1|0|

In [106]:
y_pred = np.array([[0.2,0,0.1],
          [0.3,0,0],
          [0.5,1,0.9]])

y = np.array([[0,0,1],
         [0,0,0],
         [1,1,0]])

In [115]:
round(log_loss(y, y_pred),2)

1.18

In [111]:
y_pred = np.array([[0.2, 0, 0.1],[0.3, 0, 0], [0.5, 1, 0.9]])
y_true = np.array([[0, 0, 1],[0, 0, 1], [1, 0, 0]])

In [110]:
y_pred = np.array([[0.2, 0, 0.1],[0.3, 0, 0], [0.5, 1, 0.9]])
y_true = np.array([[0, 0, 1],[0, 0, 1], [1, 0, 0]])
def logloss1(array1, array2):
    ll=[]
    for i in range(len(y_pred)):
        for j in range(len(y_pred[i])):
            mist = y_true[i][j]*np.log(y_pred[i][j])
            if np.isnan(mist) or np.isinf(mist):
                ll.append(0)
            else:
                ll.append(round(mist,2))
    return round(-1/3*np.sum(ll),2)
logloss1(y_pred, y_true)

<ipython-input-110-550a9ad96905>:7: RuntimeWarning: divide by zero encountered in log
  mist = y_true[i][j]*np.log(y_pred[i][j])
<ipython-input-110-550a9ad96905>:7: RuntimeWarning: invalid value encountered in multiply
  mist = y_true[i][j]*np.log(y_pred[i][j])

1.0